.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 80px;

  .mainLogoContainer {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .logoImgContainer {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s cubic-bezier(0.85, 0.01, 0.58, 1),
    width 0.5s cubic-bezier(0.85, 0.01, 0.58, 1),
    height 0.5s cubic-bezier(0.85, 0.01, 0.58, 1);
  }

  .logoImg {
    height: 100%;
    width: 100%;
    fill: var(--color-light-100);
    stroke: var(--color-light-100);
    transition: all 0.5s cubic-bezier(0.85, 0.01, 0.58, 1);
  }

  .logoText {
    width: 158px;
  }

  &:hover {
    .logoImgContainer {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: var(--color-accent);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.5s cubic-bezier(0.85, 0.01, 0.58, 1),
      width 0.5s cubic-bezier(0.85, 0.01, 0.58, 1),
      height 0.5s cubic-bezier(0.85, 0.01, 0.58, 1);
    }

    .logoImg {
      width: 50px;
      stroke: var(--color-dark-primary);
      fill: var(--color-dark-primary);
      transition: all 0.5s cubic-bezier(0.85, 0.01, 0.58, 1);
    }
  }
}

@media (max-width: 1905px) {
  .logo {
    height: 60px;

    .mainLogoContainer {
      width: 60px;
      height: 60px;
    }

    .logoText {
      width: 115px;
    }

    &:hover {
      .logoImgContainer {
        width: 60px;
        height: 60px;
      }

      .logoImg {
        width: 38px;
      }
    }
  }
}

@media (max-width: 1425px) {
  .logo {
    height: 48px;

    .mainLogoContainer {
      width: 48px;
      height: 48px;
    }

    .logoText {
      width: 95px;
    }

    &:hover {
      .logoImgContainer {
        width: 48px;
        height: 48px;
      }

      .logoImg {
        width: 30px;
      }
    }
  }
}
