.advantages {
  .title {
    width: 100%;
    position: relative;
  }

  h2 {
    margin-bottom: 127px;
    text-align: right;
    max-width: 100%;

    span {
      color: var(--color-light-100);
    }
  }

  .arrow {
    position: absolute;
    bottom: 10px;
    left: 243px;
    z-index: 0;
  }
}

.advantagesItems {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media (max-width: 1905px) {
  .advantages {
    h2 {
      margin-bottom: 88px;
    }

    .arrow {
      display: none;
    }
  }
}

@media (max-width: 1265px) {
  .advantages {
    h2 {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 767px) {
  .advantages {
    h2 {
      margin-bottom: 30px;
    }
  }
}
