.contactLink {
  color: var(--color-light-100);
  line-height: var(--line-height-140);
  font-size: 32px;
  font-weight: var(--font-weight-regular-400);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 32px;
  transition: color 0.4s;

  svg {
    width: 64px;
    height: 64px;
    fill: var(--color-light-100);
    transition: fill 0.4s;
  }

  &:hover,
  &:focus-visible {
    color: var(--color-dark-primary);

    svg {
      fill: var(--color-accent);
    }
  }
}

@media (max-width: 1905px) {
  .contactLink {
    font-size: 24px;
    gap: 24px;

    svg {
      width: 48px;
      height: 48px;
    }
  }
}

@media (max-width: 1425px) {
  .contactLink {
    font-size: 16px;
    gap: 16px;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 1265px) {
  .contactLink {
    gap: 10px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 767px) {
  .contactLink {
    span {
      display: none;
    }
  }
}
