.wordSwipe {
  background-color: var(--color-accent);
  color: var(--color-dark-primary);
  border-radius: 100px;
  width: fit-content;
  padding: 10px 50px;
  font-weight: var(--font-weight-bold-900);
  font-size: inherit;
  line-height: var(--line-height-124);
  text-transform: uppercase;
  overflow: hidden;

  .word {
    display: flex;
    justify-content: center;
  }

  .animate {
    animation: show 2s linear;

    .charAnimate {
      animation: bounce 1.5s ease;
    }
  }

  .hidden {
    display: none;
  }

  .placeholder {
    opacity: 0;
    overflow: hidden;
  }
}


@keyframes show {
  0% {
    transform: translateY(-100%);
  }
  10%, 90% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes bounce {
  0%, 40%, 100% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(25px);
  }
}

@media (max-width: 1905px) {
  .wordSwipe {
    padding: 10px 40px;
  }
}

@media (max-width: 1265px) {
  .wordSwipe {
    padding: 3px 20px;

    .animate .charAnimate {
      animation: bounce-1265 1.5s ease;
    }
  }
}

@keyframes bounce-1265 {
  0%, 40%, 100% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(7px);
  }
}

@media (max-width: 767px) {
  .wordSwipe {
    padding: 2px 9px;

    .animate .charAnimate {
      animation: bounce-767 1.5s ease;
    }
  }
}

@keyframes bounce-767 {
  0%, 40%, 100% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(5px);
  }
}