.wordSwipe {
  background-color: var(--color-accent);
  border-radius: 100px;
  padding: 10px 50px;
  width: fit-content;
  color: var(--color-dark-primary);
  font-weight: var(--font-weight-bold-900);
  font-size: 100px;
  line-height: var(--line-height-124);
  text-transform: uppercase;
  --word-height: 124px;

  .inner {
    height: var(--word-height);
    overflow: hidden;
    margin-bottom: 0;
  }

  .word {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--word-height);
  }

  span {
    animation: bounce 1.5s ease infinite forwards;
  }

  .firstWord {
    animation: show 3s linear infinite;
  }
}

@keyframes show {
  0% {
    margin-top: calc(-4 * var(--word-height));
  }
  12% {
    margin-top: calc(-2 * var(--word-height) - 10px);
  }
  40% {
    margin-top: calc(-2 * var(--word-height) - 10px);
  }
  62% {
    margin-top: -10px;
  }
  90% {
    margin-top: -10px;
  }
  99% {
    margin-top: var(--word-height);
  }
  99.99% {
    margin-top: var(--word-height);
  }
  100% {
    margin-top: calc(-4 * var(--word-height));
  }
}

@keyframes bounce {
  0%, 40%, 100% {
    transform: translateY(10px);
  }
  20% {
    transform: translateY(25px);
  }
}

@media (max-width: 1905px) {
  .wordSwipe {
    font-size: 72px;
    padding: 10px 40px;
    --word-height: 89px;
  }
}

@media (max-width: 1425px) {
  .wordSwipe {
    font-size: 64px;
    --word-height: 79px;
  }
}

@media (max-width: 1265px) {
  .wordSwipe {
    font-size: 33px;
    padding: 3px 20px;
    --word-height: 42px;

    span {
      animation: bounce-small-screen 1.5s ease infinite forwards;
    }
  }
}

@media (max-width: 767px) {
  .wordSwipe {
    font-size: 14px;
    padding: 2px 9px;
    --word-height: 17px;
  }
}

@keyframes bounce-small-screen {
  0%, 40%, 100% {
    transform: translateY(10px);
  }
  20% {
    transform: translateY(15px);
  }
}