.card {
  min-height: 588px;
  padding: 48px 64px 56px 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 48px;
  position: relative;

  .number {
    opacity: 1;
    color: var(--color-primary);
    font-size: var(--font-size-ml);
    font-weight: var(--font-weight-regular-300);
  }

  .header {
    color: var(--color-light-100);
    line-height: var(--line-height-120);
    font-size: var(--font-size-ml);
    font-weight: var(--font-weight-regular-500);
    text-transform: none;
    display: inline-block;
  }

  .tagList {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
}

.small {
  max-width: 678px;
  width: 100%;
}

.medium {
  max-width: 820px;
  width: 100%;
}
