.card {
  min-height: 588px;
  position: relative;

  .number {
    opacity: 1;
    color: var(--color-primary);
    font-size: 48px;
    font-weight: var(--font-weight-regular-300);
  }

  .header {
    color: var(--color-light-100);
    line-height: var(--line-height-120);
    font-size: 48px;
    font-weight: var(--font-weight-regular-500);
    text-transform: none;
    display: inline-block;
  }

  .tagList {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
}

.small {
  max-width: 678px;
  width: 100%;

  .blur {
    max-width: 678px;
  }
}

.medium {
  max-width: 820px;
  width: 100%;

  .blur {
    max-width: 820px;
  }
}

.blur {
  position: absolute;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 48px;
  min-height: 588px;
  z-index: -10;
  width: 100%;
  height: 100%;
}

.content {
  padding: 48px 64px 56px 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 588px;
}

@media (max-width: 1905px) {
  .card {
    min-height: 500px;

    .number {
      font-size: 40px;
    }

    .header {
      font-size: 40px;
    }

    .content {
      padding: 50px 56px 56px;
      min-height: 500px;
    }
  }
  .small {
    max-width: 496px;

    .blur {
      max-width: 496px;
    }
  }

  .medium {
    max-width: 600px;

    .blur {
      max-width: 600px;
    }
  }

  .blur {
    min-height: 500px;
  }
}
