.header {
  display: flex;
  justify-content: space-between;
  max-width: 1670px;
  width: 87%;
  margin: auto;
  position: sticky;
  z-index: 20;
  padding-top: 32px;

  .rightBlock {
    display: flex;
    gap: 24px;
  }
}

@media (max-width: 1905px) {
  .header {
    width: 85%;
  }
}

@media (max-width: 1425px) {
  .header {
    width: 81%;
  }
}

@media (max-width: 1279px) {
  .header {
    width: 96%;
  }
}

@media (max-width: 767px) {
  .header {
    width: 95%;
    padding-top: 20px;
  }
}
