.headerContainer {
  z-index: 1001;
  position: relative;
}

.header, .headerMobile, .headerDesktop {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1920px;
}

:global(.headroom--pinned){
  .header {
    background-color: rgba(41, 41, 41, 0.6);
    backdrop-filter: blur(5px);
    transition: background-color 0s;
  }
}

.header {
  position: sticky;
  z-index: 20;
  padding: 32px var(--offset-x) 20px var(--offset-x);
  border-radius: 0 0 60px 60px;
  transition: background-color 0.6s ease-in-out;
}

.rightBlock {
  display: flex;
  gap: 24px;
}

.headerMobile {
  display: none;
}

@media (max-width: 1905px) {
  .header {
    padding: 20px var(--offset-x);
  }
}

@media (max-width: 1279px) {
  .header {
    padding: 20px;
    border-radius: 0 0 50px 50px;
  }

  .headerMobile {
    display: block;
  }

  .headerDesktop {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px;
    border-radius: 0 0 18px 18px;
  }
}
