.radioCheckboxContainer {
  display: flex;
  padding: 12px 24px 12px 12px;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: 1px solid #454748;
  border-radius: 18px;
  color: var(--color-light-100);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular-300);
  background-color: #232323;
  transition: all 0.5s;

  input {
    border: 1px solid var(--color-light-20);
    border-radius: 10px;
    width: 32px;
    height: 32px;
    appearance: none;
    background-color: rgba(22, 22, 22, 0.2);
    cursor: pointer;
    transition: border-color 0.5s;
  }

  &:hover:not(:has(:checked)) {
    background-color: #221a2c;
    border-color: var(--color-primary);
    color: var(--color-primary);
    transition: all 0.5s;

    input {
      border-color: var(--color-primary);
      transition: border-color 0.5s;
    }
  }

  &:has(:checked) {
    background: linear-gradient(351deg, #a330ff 0%, #ff37df 100%);

    input {
      background-color: var(--color-dark-primary);
      background-image: url("../../../../assets/check-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
