.stepsSection {
  --extreme-slide-offset: 224px;
  --slides-gap: 110px;
}

.stepsPlaceholder {
  height: 500px;
}

.stepsContainer {
  position: absolute;
  width: 100vw;
  left: 0;
}

.cards {
  .slide {
    width: fit-content;
    padding-right: var(--slides-gap);
    user-select: none;
  }

  .slide:first-child {
    margin-left: var(--extreme-slide-offset);
  }

  .slide:last-child {
    padding-right: var(--extreme-slide-offset);
  }
}

.caption {
  margin-left: var(--extreme-slide-offset);
  color: var(--color-light-100);
  display: flex;
  gap: 10px;
  align-items: flex-end;
  margin-top: 30px;
  font-size: 24px;
}

.animation {
  width: 80px;
  height: 80px;
}

@media (max-width: 1905px) {
  .stepsSection {
    --extreme-slide-offset: 212px;
    --slides-gap: 128px;
  }

  .stepsPlaceholder {
    height: 470px;
  }

  .caption {
    font-size: 18px;
  }
}

@media (max-width: 1425px) {
  .stepsPlaceholder {
    height: 394px;
  }
}

@media (max-width: 1265px) {
  .stepsSection {
    --extreme-slide-offset: 200px;
    --slides-gap: 96px;
  }

  .stepsPlaceholder {
    height: 355px;
  }

  .caption {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .stepsSection {
    --extreme-slide-offset: 50px;
    --slides-gap: 29px;
  }

  .stepsPlaceholder {
    height: 220px;
  }

  .caption {
    font-size: 12px;
    margin-top: 10px;
  }

  .animation {
    width: 60px;
    height: 60px;
  }
}
