.cards {
  display: grid;
  width: 994px;
  grid-template: 1fr 1fr/ 1fr 1fr;
  gap: 46px;
}
@media (max-width: 1905px) {
  .cards {
    gap: 24px;
    width: unset;
  }
}
@media (max-width: 1265px) {
  .cards {
    grid-template: 1fr/ 1fr;
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .cards {
    gap: 22px;
  }
}
