.mainContainer {
  max-width: 1920px;
  padding: 0 124px;
  width: 100%;
  margin: auto;
}

//greetingBlock
.greetingText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  white-space: nowrap;
  padding: 120px 0 67px 0;
  position: relative;
  margin: auto;
  width: fit-content;

  .firstLine {
    padding-left: 140px;
  }

  .secondLine {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  .thirdLine {
    padding-left: 265px;
  }

  .arrow {
    position: absolute;
    left: 125px;
    bottom: 0;
  }

  .headerAccent {
    height: 144px;
    background-color: var(--color-accent);
    border-radius: 100px;
    padding: 10px 50px;
    width: fit-content;
    color: var(--color-dark-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-bold-900);
    font-size: 100px;
    line-height: var(--line-height-124);
    text-transform: uppercase;
  }
}

.mainText {
  font-weight: var(--font-weight-bold-900);
  font-size: 100px;
  line-height: var(--line-height-124);
  text-transform: uppercase;
  color: var(--color-light-100);
}

.briefOffer {
  display: flex;
  gap: 58px;
  align-items: center;
  padding-left: 142px;
  margin-bottom: 222px;

  .offerText {
    font-family: var(--font-family-secondary);
    line-height: var(--line-height-160);
    color: var(--color-light-100);

    .heading {
      font-weight: var(--font-weight-regular-500);
      font-size: 32px;
    }

    .accent {
      color: var(--color-accent);
    }

    .description {
      font-weight: var(--font-weight-regular-300);
      font-size: 24px;
    }
  }
}

//services
.services {
  border-radius: 72px;
  background-color: var(--color-dark-secondary);
  padding: 120px 266px 160px;
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 132px;

  h2 {
    margin-bottom: 112px;
  }
}

.advantagesSection {
  margin-bottom: 240px;
}

//steps
.steps {
  margin: 240px 0 266px;
}

.arrowLink {
  z-index: 0;
}

.faq {
  margin-bottom: 150px;
}

@media (max-width: 1905px) {
  .mainContainer {
    padding: 0 108px;
  }
  .mainText {
    font-size: 72px;
  }
  .greetingText {
    .firstLine {
      padding-left: 118px;
    }
    .secondLine {
      gap: 32px;
    }
    .thirdLine {
      padding-left: 200px;
    }
    .arrow {
      left: 90px;
    }

    .headerAccent {
      height: 102px;
      font-size: 72px;
    }
  }
  .briefOffer {
    margin-bottom: 167px;

    .offerText {
      .heading {
        font-size: 24px;
      }

      .description {
        font-size: 16px;
      }
    }
  }
}
