.filterButton {
  border: 1px solid var(--white-white-20);
  border-radius: 56px;
  padding: 13px 24px;
  background-color: var(--color-inactive-element);
  font-weight: var(--font-weight-regular-300);
  font-size: 18px;
  line-height: var(--line-height-160);
  color: var(--color-light-100);
  transition:
    color 0.3s cubic-bezier(0.61, 0.01, 0.58, 1),
    border-color 0.3s cubic-bezier(0.61, 0.01, 0.58, 1),
    background-color 0.3s cubic-bezier(0.61, 0.01, 0.58, 1);

  &:hover:not(.active) {
    color: var(--color-primary);
    border-color: var(--color-primary);
    background-color: var(--color-inactive-element-hover);
  }

  &:focus-visible {
    outline: 1px solid var(--color-primary-bright);
    outline-offset: 5px;
    border-radius: 56px;
  }
}

.active {
  background: linear-gradient(
    351deg,
    var(--color-primary) 0%,
    var(--color-primary-bright) 100%
  );
  border-color: transparent;
}

@media (max-width: 1905px) {
  .filterButton {
    font-size: 16px;
    padding: 9px 20px;
  }
}

@media (max-width: 767px) {
  .filterButton {
    font-size: 14px;
    padding: 5px 15px;
  }
}
