.audienceCard {
  border-radius: 72px;
  padding: 91px 142px 117px;
  background-color: var(--color-primary);

  h2 {
    color: var(--color-light-100);
    text-align: left;
    margin-bottom: 105px;
  }

  ul {
    list-style: none;
    font-size: 48px;
    line-height: var(--line-height-120);
    color: var(--color-light-100);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 72px;
  }

  li {
    display: flex;
    align-items: center;
    gap: 40px;
    text-transform: uppercase;

    h3 {
      font-weight: var(--font-weight-regular-500);
    }
  }

  .arrow {
    background-color: var(--color-accent);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
      stroke: var(--color-dark-primary);
    }
  }
}

@media (max-width: 1905px) {
  .audienceCard {
    border-radius: 48px;
    padding: 64px 164px 88px;

    h2 {
      margin-bottom: 70px;
    }

    ul {
      gap: 38px;

      h3 {
        font-size: 40px;
      }

      .arrow {
        width: 64px;
        height: 64px;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
