.circlesPlaceholder {
  height: 252px;
}

.circlesContainer {
  position: absolute;
  width: 100vw;
  left: 0;
}

.circles {
  --slides-gap: 32px;
  user-select: none;
  cursor: grab;

  .slide {
    width: fit-content !important;
    padding-right: var(--slides-gap);
    flex-shrink: 0;
  }

  .slide:first-child {
    padding-left: var(--offset-x);
  }

  .slide:last-child {
    padding-right: var(--offset-x);
  }
}

@media (max-width: 1905px) {
  .circlesPlaceholder {
    height: 170px;
  }

  .circles {
    --slides-gap: 24px;
  }
}

@media (max-width: 767px) {
  .circlesPlaceholder {
    height: 110px;
  }

  .circles {
    --slides-gap: 10px;
  }
}
