.casesPageContent {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
.mainContainer {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 0 124px;
}

.filterButtons {
  display: flex;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;

  h1 {
    margin-top: 0;
  }
}

.caseCircleList {
  margin: 86px 0 237px;

  a:first-child {
    margin-left: 124px;
  }
}

.casesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 174px;
  row-gap: 182px;
  margin: 237px 0 252px;

  .extraLarge {
  }

  .large {
    margin-top: 156px;
  }

  .small {
    margin-top: -180px;
  }

  .medium {
  }

  .fullWidth {
  }
}
