.mainPage {
  :global {
    .mainContainer{
      overflow: hidden;
    }

    .sectionsWrapper{
      contain: layout;
      overflow: hidden;
    }
  }
}

.mainBubblesContainer{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.greetingDescription {
  margin: 0 auto 228px;
  z-index: 2;
  position: relative;
}

.hiddenHeader {
  display: none;
}

.about {
  margin: 0 auto 163px;
}

.services {
  margin-bottom: 300px;
  z-index: 1;
}

.steps {
  margin-bottom: 372px;
}

.bigBubbleMain {
  top: 200px;
  right: 0;
  width: 800px;
  height: 800px;
}

.smallBubbleMain {
  top: -200px;
  left: 220px;
  width: 600px;
  height: 600px;
}

.advantagesBubbles {
  position: relative;
  contain: layout;
  z-index: -1;
}

.bigBubbleAdvantages {
  top: -400px;
  left: -300px;
  width: 800px;
  height: 800px;
}

.advantagesBubbles .smallBubbleAdvantages {
  top: 200px;
  left: 400px;
  z-index: -4;
  width: 600px;
  height: 600px;
}

.servicesBubbles {
  position: relative;
}

.smallBubbleServices {
  top: -400px;
  left: -50px;
  width: 600px;
  height: 600px;
}

@media (max-width: 1905px) {
  .greetingDescription {
    margin-bottom: 170px;
    max-width: 1224px;
  }

  .services {
    margin-bottom: 108px;
  }

  .steps {
    margin-bottom: 140px;
  }
}

@media (max-width: 1425px) {
  .greetingDescription {
    margin-bottom: 115px;
    max-width: 1032px;
  }

  .services {
    margin-bottom: 120px;
  }

  .steps {
    margin-bottom: 165px;
  }

  .bigBubbleMain {
    top: 200px;
    transform: translateX(-200px);
  }

  .smallBubbleMain {
    top: -200px;
    left: 0;
  }

  .bigBubbleAdvantages {
    top: -400px;
    left: -300px
  }

  .advantagesBubbles .smallBubbleAdvantages {
    top: 600px;
    left: 50px;
  }

  .smallBubbleServices {
    top: -200px;
    left: -50px;
  }
}

@media (max-width: 1265px) {
  .greetingDescription {
    margin-bottom: 100px;
    max-width: 691px;
  }

  .about {
    margin-bottom: 100px;
  }

  .services, .steps {
    margin-bottom: 100px;
  }

  .bigBubbleMain {
    top: 200px;
    transform: translateX(-100px);
    width: 450px;
    height: 450px;
  }

  .smallBubbleMain {
    top: -50px;
    left: 100px;
    width: 300px;
    height: 300px;
  }

  .bigBubbleAdvantages {
    top: -150px;
    left: unset;
    right: -150px;
    width: 400px;
    height: 400px;
  }

  .advantagesBubbles .smallBubbleAdvantages {
    top: 1500px;
    left: 0;
    width: 400px;
    height: 400px;
  }

  .smallBubbleServices {
    top: -150px;
    left: -100px;
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 767px) {
  .greetingDescription {
    margin-bottom: 60px;
    max-width: 288px;
  }

  .about {
    margin-bottom: 60px;
  }

  .services, .steps {
    margin-bottom: 60px;
  }

  .bigBubbleMain {
    top: 270px;
    width: 300px;
    height: 300px;
    transform: translateX(100px);
  }

  .smallBubbleMain {
    top: -50px;
    left: 0;
    width: 250px;
    height: 250px;
  }

  .bigBubbleAdvantages {
    top: -100px;
    left: unset;
    right: -200px;
    width: 400px;
    height: 400px;
  }

  .advantagesBubbles .smallBubbleAdvantages {
    top: 900px;
    left: -100px;
    width: 350px;
    height: 350px;
  }

  .smallBubbleServices {
    top: -150px;
    left: -100px;
    width: 300px;
    height: 300px;
  }
}
