.content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  p {
    font-weight: var(--font-weight-regular-500);
    font-size: 18px;
    line-height: var(--line-height-180);
    opacity: 0.8;
    margin-top: 24px;
    text-align: center;
  }

  button {
    padding: 22px;
    width: 100%;
    border-radius: 64px;
    background-color: var(--color-accent);
    font-weight: var(--font-weight-regular-300);
    font-size: 18px;
    border: none;
    color: var(--color-dark-primary);
    text-align: center;
  }
}

.buttonsBlock {
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .content {
    gap: 30px;

    p {
      font-size: 14px;
      margin-top: 0;
    }

    button {
      padding: 10px;
      font-size: 12px;
    }
  }

  .buttonsBlock {
    gap: 10px;
  }
}