.inputContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-light-40);
  align-items: flex-start;
  position: relative;
  width: 100%;

  &:focus-within {
    border-bottom: 1px solid var(--color-primary);

    .mainLabel {
      color: var(--color-light-100);
    }
  }
}

.input {
  color: var(--color-light-100);
  font-size: 24px;
  font-weight: var(--font-weight-regular-400);
  line-height: var(--line-height-180);
  background-color: transparent;
  flex-grow: 2;
  position: relative;
  display: inline-block;
  border: none;
  padding: 16px 0;
  caret-color: var(--color-primary);
  word-break: break-word;
  resize: none;
  max-height: 600px;
  scrollbar-width: none;

  &:focus {
    outline: none;
    border: none;
    color: var(--color-accent);
  }

  &::placeholder {
    color: var(--color-light-20);
  }
}

.position {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  position: relative;
}

.underText {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-regular-300);
  font-size: 16px;
  line-height: var(--line-height-140);
  color: var(--color-light-40);
  margin-top: 7px;
  width: 100%;
  position: relative;

  .underlineMessage {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    max-width: calc(100% - 78px);

    div {
      word-break: break-word;

      svg {
        height: fit-content;
      }
    }
  }
}

.error {
  .inputContainer {
    border-bottom: 1px solid var(--color-error);

    &:focus-within {
      border-bottom: 1px solid var(--color-error);
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }

  .underlineMessage {
    color: var(--color-error);
  }
}

@media (max-width: 1905px) {
  .input {
    font-size: 18px;
    padding: 8px 0;
  }
}

@media (max-width: 1425px) {
  .input {
    font-size: 16px;
    padding: 4px 0;
  }
  .underText {
    font-size: 14px;
  }
}

@media (max-width: 1265px) {
  .input {
    font-size: 24px;
  }
  .underText {
    font-size: 19px;
    margin-top: 1px;

    .underlineMessage {
      max-width: calc(100% - 87px);

      div {
        font-size: 19px;
      }
    }
  }
}

@media (max-width: 767px) {
  .input {
    font-size: 10px;
    padding: 0;
  }
  .underText {
    font-size: 8px;
    margin-top: 1px;

    .underlineMessage {
      max-width: calc(100% - 45px);

      div {
        font-size: 8px;
      }
    }
  }
  .error {
    svg {
      width: 13px;
      height: 13px;
    }
  }
}
