.fileInputContainer {
  position: relative;
  flex-shrink: 0;

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }

  label {
    cursor: pointer;
  }
  svg {
    width: 27px;
    height: 27px;
    fill: var(--color-light-100);
  }

  input:focus-visible + label {
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.error {
  svg {
    width: 27px;
    height: 27px;
  }

  .errorIcon {
    margin-left: 6px;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 1905px) {
  .fileInputContainer {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .error {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
@media (max-width: 767px) {
  .fileInputContainer {
    svg {
      width: 13px;
      height: 13px;
    }
  }
  .error {
    svg {
      width: 13px;
      height: 13px;
    }

    .errorIcon {
      margin-left: 2px;
      width: 13px;
      height: 13px;
    }
  }
}
