.shareButton {
  position: relative;
  width: fit-content;

  svg {
    width: 18px;
    height: 20px;
  }
}

.tag:focus-visible {
  outline: 1px solid var(--color-accent);
  outline-offset: 5px;
}

.underline {
  position: absolute;
  color: var(--color-accent);
  font-size: 14px;
  font-weight: var(--font-weight-regular-250);
  display: block;
  text-align: center;
  right: 0;
  left: 0;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .shareButton {
    button {
      padding: 6px 15px;
    }

    svg {
      width: 10px;
      height: 12px;
    }
  }
  .underline {
    font-size: 8px;
  }
}
