.subheader {
  opacity: 0.8;
  font-size: 16px;
  line-height: var(--line-height-140);
  font-weight: var(--font-weight-regular-400);
  text-transform: uppercase;
}

.casePageContent {
  font-weight: var(--font-weight-regular-300);
  font-size: 24px;
  line-height: var(--line-height-200);
  color: var(--color-light-100);

  .tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 24px 0 96px;

    .tag {
      transition: all 0.4s cubic-bezier(0.72, 0.01, 0.58, 1);

      &:hover {
        background-color: var(--color-accent);
        border-color: var(--color-accent);
        color: var(--color-dark-primary);
        transition: all 0.4s cubic-bezier(0.72, 0.01, 0.58, 1);
      }
    }
  }

  .topCaption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 30px;

    .field {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 32px;
    }
  }

  .mainImgContainer {
    height: 1200px;
    overflow: hidden;
    mask-image: url(../../../../svg/caseMainPhotoShape.svg);
    -webkit-mask-image: url(../../../../svg/caseMainPhotoShape.svg);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }

  .description {
    width: 65%;
    margin: -100px 32px 0 var(--offset-x);
    font-size: 32px;
  }

  .taskBlock {
    border-top: 1px solid var(--color-light-40);
    margin-top: 168px;

    .taskHeader {
      padding: 56px 0 0;
      display: flex;
      justify-content: space-between;

      .taskDescription {
        width: 50%;
        font-weight: var(--font-weight-regular-250);
      }
    }
  }

  .images {
    display: flex;
    gap: 32px;
    margin: 130px auto 108px;

    .smallImg {
      border-radius: 48px;
      width: 536px;
      height: 532px;
      overflow: hidden;
    }

    .mediumImg {
      border-radius: 48px;
      width: 1104px;
      height: 1079px;
      overflow: hidden;
    }
  }

  .bigImg {
    border-radius: 48px;
    height: 1270px;
    overflow: hidden;
  }

  .stackTech {
    display: flex;
    flex-direction: column;
    line-height: var(--line-height-160);
    margin-top: 16px;
    font-weight: var(--font-weight-regular-250);

    b {
      font-weight: var(--font-weight-regular-400);
    }
  }

  .resultBlock {
    display: flex;
    justify-content: space-between;
    gap: 209px;
    margin: 120px 0 300px;

    .resultInfo {
      display: flex;
      flex-direction: column;
      gap: 70px;
    }

    .resultDescription {
      font-weight: var(--font-weight-regular-250);
      width: 58%;
    }
  }
}

@media (max-width: 1905px) {
  .casePageContent {
    font-size: 18px;

    .tagList {
      margin: 24px 0 84px;
    }

    .topCaption {
      margin-bottom: 90px;

      .field {
        gap: 12px;
        font-size: inherit;
      }
    }

    .mainImgContainer {
      height: 756px;
      mask-image: url(../../../../svg/caseMainPhotoShape1440.svg);
      -webkit-mask-image: url(../../../../svg/caseMainPhotoShape1440.svg);
      mask-size: 100% 100%;
      -webkit-mask-size: 100% 100%;
    }

    .description {
      width: 50%;
      margin: -50px 32px 0 var(--offset-x);
      font-size: inherit;
    }

    .images {
      gap: 24px;
      margin: 88px auto 130px;
      justify-content: space-between;

      .smallImg {
        border-radius: 32px;
        width: 392px;
        height: 390px;
      }

      .mediumImg {
        border-radius: 32px;
        width: 808px;
        height: 789px;
      }
    }

    .bigImg {
      border-radius: 32px;
      height: 950px;
    }

    .resultBlock {
      gap: 232px;
      margin: 106px 0 187px;

      .resultInfo {
        gap: 40px;
      }
    }
  }
}

@media (max-width: 1265px) {
  .subheader {
    font-size: 30px;
  }

  .casePageContent {
    font-size: 24px;

    .tagList {
      margin: 50px 0 60px;
    }

    .topCaption {
      flex-wrap: wrap;
      gap: 50px;
    }

    .mainImgContainer {
      shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 61% 100%, 61% 87%, 0% 87%);
      float: right;
      height: 967px;
    }

    .descriptionContainer {
      padding: 0 16px;
    }

    .description {
      display: inline;
      margin: 0;
    }

    .taskBlock {
      border-top: 1px solid var(--color-light-40);
      margin-top: 100px;


      .taskHeader {
        flex-direction: column;
        gap: 50px;
        padding-top: 33px;

        .taskDescription {
          width: 100%;
        }
      }

    }

    .images {
      flex-direction: column;
      gap: 40px;
      margin: 50px auto 40px;

      .smallImg {
        border-radius: 77px;
        width: 547px;
        height: 544px;
      }

      .mediumImg {
        border-radius: 77px;
        width: 691px;
        height: 691px;
      }
    }

    .bigImg {
      border-radius: 77px;
      height: 508px;
    }

    .resultBlock {
      gap: 50px;
      margin: 100px 0;
      flex-direction: column;

      .resultDescription {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .subheader {
    font-size: 12px;
  }

  .casePageContent {
    font-size: 10px;

    .tagList {
      margin: 20px 0 30px;
      gap: 10px;
    }

    .topCaption {
      gap: 20px;
      margin-bottom: 30px;

      .field {
        gap: 10px;
      }
    }

    .mainImgContainer {
      height: 400px;
    }

    .taskBlock {
      margin-top: 60px;

      .taskHeader {
        flex-direction: column;
        gap: 10px;
        padding-top: 14px;
      }
    }

    .images {
      gap: 20px;
      margin: 30px auto 20px;
      max-width: var(--small-screen-max-width);


      flex-direction: row;
      align-items: flex-end;

      .smallImg {
        border-radius: 32px;
        width: 228px;
        height: 227px;
      }

      .mediumImg {
        border-radius: 32px;
        width: 288px;
        height: 288px;
      }
    }

    .bigImg {
      border-radius: 32px;
      height: 288px;
      max-width: var(--small-screen-max-width);
      margin: 0 auto;
    }

    .resultBlock {
      gap: 30px;
      margin: 60px auto;

      .resultInfo {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 450px) {
  .casePageContent {
    .mainImgContainer {
      shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 55% 100%, 55% 88%, 0% 88%);
      mask-image: url(../../../../svg/caseMainPhotoShape320.svg);
      -webkit-mask-image: url(../../../../svg/caseMainPhotoShape320.svg);
    }

    .images {
      flex-direction: column;
    }

    .bigImg {
      height: 212px;
    }
  }
}