.card {
  width: 474px;
  border-radius: 32px;
  padding: 32px 32px 40px 32px;
  background-color: var(--color-dark-secondary);
  font-family: var(--font-family-primary);

  figure {
    margin: 0
  }

  img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 32px;
  }

  figcaption {
    font-weight: var(--font-weight-regular-600);
    font-size: var(--font-size-sm);
    margin-bottom: 12px;
    line-height: var(--line-height-140);
    color: var(--color-light-100);
  }

  p {
    font-weight: var(--font-weight-regular-300);
    font-size: var(--font-size-s);
    line-height: var(--line-height-200);
    color: var(--color-light-100);
    margin: 0;
  }
}