.cards {
  display: flex;
  gap: 110px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  user-select: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.card:first-child {
  margin-left: 224px;
}
.card:last-child {
  margin-right: 224px;
}
