.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
  padding: 0 var(--offset-x);
}

.buttons {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
}

.placeholder {
  height: 536px;
}

.teamBlock .cards {
  user-select: none;
  position: absolute;
  width: 100vw;
  left: 0;
}

.teamBlock .swiperSlide {
  width: 536px;
  margin-right: 24px;

  &:first-child {
    margin-left: var(--offset-x);
  }

  &:last-child {
    margin-right: var(--offset-x);
  }
}

@media (max-width: 767px) {
  .placeholder {
    height: 268px;
  }

  .header {
    margin-bottom: 30px;
  }

  .buttons {
    gap: 16px;
  }

  .teamBlock .swiperSlide {
    width: 288px;
    margin-right: 10px;
  }
}
