.casesPage {
  contain: layout;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--first-el-offset);
  gap: 20px;

  h1 {
    padding-top: 0;
  }
}

.filterButtons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.caseCircleList {
  margin: 86px auto 237px;
}

.casesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 174px;
  row-gap: 182px;
  margin: 0 auto;
  padding-bottom: 252px;
  position: relative;
  contain: layout;
}

.large {
  margin-top: 156px;
}

.small {
  margin-top: -180px;
}

.fullWidthContainer {
  width: 100%;
}

.showMoreButton {
  margin: 0 auto;
  padding-bottom: 237px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  height: 30vh;
}

.smallBubbleCirclesContainer, .bigBubbleEndContainer {
  position: relative;
  contain: layout;
  z-index: -1;
}

.smallBubbleCircles {
  width: 600px;
  height: 600px;
  right: -100px;
  top: -250px;
}

.smallBubbleCases {
  width: 500px;
  height: 500px;
  top: 23%;
  left: -100px;
}

.bigBubbleEnd {
  width: 800px;
  height: 800px;
  top: -500px;
  right: -100px;
}

@media (max-width: 1905px) {
  .filterButtons {
    gap: 8px;
  }

  .caseCircleList {
    margin: 76px 0 140px;
  }

  .casesList {
    column-gap: 128px;
    row-gap: 144px;
    padding-bottom: 150px;
    max-width: 1740px;
  }
}

@media (max-width: 1425px) {
  .casesList {
    padding-bottom: 140px;
  }

  .showMoreButton {
    padding-bottom: 150px;
  }
}

@media (max-width: 1265px) {
  .caseCircleList {
    margin: 50px auto 100px;
  }

  .casesList {
    flex-direction: column;
    row-gap: 75px;
    padding: 0 var(--offset-x);
    padding-bottom: 140px;

    a:nth-of-type(2n) {
      align-self: flex-end;
      padding-right: var(--offset-x);
    }
  }

  .large {
    margin-top: 0;
  }

  .small {
    margin-top: 0;
  }

  .fullWidthContainer {
    width: calc(100% + 32px);
    margin-left: -16px;
  }

  .smallBubbleCircles {
    width: 400px;
    height: 400px;
    top: -500px;
  }

  .smallBubbleCases {
    top: 35%;
  }

  .bigBubbleEnd {
    width: 450px;
    height: 450px;
    top: -400px;
  }
}

@media (max-width: 767px) {
  .header {
    gap: 10px;
    align-items: flex-start;
  }

  .caseCircleList {
    margin: 30px auto 50px;
  }

  .casesList {
    row-gap: 30px;
    padding-bottom: 70px;
    max-width: var(--small-screen-max-width);
  }

  .showMoreButton {
    padding-bottom: 70px;
  }

  .smallBubbleCircles {
    width: 300px;
    height: 300px;
    top: -400px;
  }

  .smallBubbleCases {
    top: 23%;
    left: unset;
    right: -100px;
    width: 300px;
    height: 300px;
  }

  .bigBubbleEnd {
    width: 350px;
    height: 350px;
    top: -200px;
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }
}