.footerWithoutForm {
  position: relative;
  padding-top: 211px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .footerWithoutForm {
    padding-top: 50px;
  }
}