.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  position: relative;
  overflow: hidden;
  padding: 0 var(--offset-x) 301px calc(var(--offset-x) + 142px);

  h2 {
    width: 338px;
    height: fit-content;
  }
}

.backgroundSymbol {
  position: absolute;
  left: calc(var(--offset-x) + 180px);
  top: 374px;
  transform: scale(1.3);
}

.backgroundSymbol + .backgroundSymbol {
  left: calc(var(--offset-x) + 330px);
  top: 535px;
  transform: rotate(45deg);
}

.arrow {
  position: absolute;
  left: calc(var(--offset-x) + 284px);
  top: 181px;
  background-image: url(../../../svg/arrowPointer.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 175px;
  height: 88px;
}

@media (max-width: 1905px) {
  .advantages {
    display: block;
    padding: 0 var(--offset-x) 234px;

    h2 {
      margin-bottom: 97px;
      width: fit-content;
      height: fit-content;
    }
  }

  .advantagesCards {
    display: flex;
    justify-content: flex-end;
  }

  .backgroundSymbol {
    left: calc(var(--offset-x) - 50px);
  }

  .backgroundSymbol + .backgroundSymbol {
    left: calc(var(--offset-x) + 20px);
  }

  .arrow {
    left: calc(var(--offset-x) + 45px);
    background-image: url(../../../svg/arrow-main-advantages-1440.svg);
    width: 88px;
    height: 175px;
    top: 90px;
  }
}

@media (max-width: 1425px) {
  .advantages {
    h2 {
      margin-bottom: 60px;
    }
  }

  .backgroundSymbol {
    left: calc(var(--offset-x) - 20px);
  }

  .backgroundSymbol + .backgroundSymbol {
    left: calc(var(--offset-x) + 33px);
  }
}

@media (max-width: 1265px) {
  .advantages {
    padding-bottom: 100px;

    h2 {
      margin-bottom: 40px;
    }
  }
  .arrow {
    left: calc(var(--offset-x) + 25px);
  }

  .backgroundSymbol {
    left: var(--offset-x);
  }

  .backgroundSymbol + .backgroundSymbol {
    left: calc(var(--offset-x) + 33px);
  }
}

@media (max-width: 767px) {
  .advantages {
    padding-bottom: 60px;

    h2 {
      margin-bottom: 50px;
    }
  }

  .backgroundSymbol {
    height: 80px;
  }

  .backgroundSymbol + .backgroundSymbol {
    left: var(--offset-x);
  }

  .arrow {
    width: 42px;
    height: 81px;
    left: 10px;
    top: 40px;
  }

  .advantagesCards {
    max-width: var(--small-screen-max-width);
    margin: auto;
  }
}

@media (max-width: 580px) {
  .advantagesCards {
    margin: 0 0 0 auto;
  }

  .backgroundSymbol {
    left: calc(var(--offset-x) - 10px);
  }

  .backgroundSymbol + .backgroundSymbol {
    left: calc(var(--offset-x) - 25px);
  }
}

@media (max-width: 450px) {
  .advantagesCards {
    margin: auto;
    justify-content: center;
  }

  .backgroundSymbol {
    display: none;
  }
  .advantages h2 {
    margin-bottom: 100px;
  }
}