.card {
  width: 600px;
  height: 670px;
  flex-shrink: 0;
  padding-left: 32px;
  border-left: 1px solid var(--color-accent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-weight: var(--font-weight-regular-600);
    font-size: 32px;
    line-height: var(--line-height-160);
    color: var(--color-light-100);
  }
}

.cardHeader {
  color: var(--color-accent);
}

.stepNumber {
  font-weight: var(--font-weight-bold-900);
  font-size: 80px;
  line-height: var(--line-height-120);
  margin-bottom: 12px;
}

.header {
  font-weight: var(--font-weight-regular-300);
  font-size: 24px;
  line-height: var(--line-height-180);
  text-transform: none;
}

@media (max-width: 1905px) {
  .card {
    width: 392px;
    height: 540px;

    p {
      font-size: 24px;
    }
  }

  .stepNumber {
    font-size: 48px;
  }

  .header {
    font-size: 18px;
  }
}

@media (max-width: 1425px) {
  .card {
    width: 328px;
    height: 460px;

    p {
      font-size: 18px;
      font-weight: var(--font-weight-regular-300);
    }
  }
}

@media (max-width: 1265px) {
  .card {
    width: 296px;
    height: 414px;

    p {
      font-size: 20px;
    }
  }

  .stepNumber {
    font-size: 40px;
  }

  .header {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .card {
    width: 180px;
    height: 220px;
    padding-left: 12px;

    p {
      font-size: 12px;
    }
  }

  .cardHeader {
    gap: 5px;
  }

  .stepNumber {
    font-size: 17px;
  }

  .header {
    font-size: 14px;
  }
}
