.articlePage {
  --article-max-width: 1104px;
  --article-offset: 142px;
  padding-bottom: var(--last-el-offset);

  h1 {
    font-size: 80px;
    margin-bottom: 32px;
  }

  .imgContainer {
    border-radius: 32px;
    height: 752px;
    margin-bottom: 52px;
    overflow: hidden;
  }
}

.caption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 30px;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.article {
  max-width: var(--article-max-width);
  margin: 0 auto;
  position: relative;
  contain: layout;
  color: var(--color-light-100);

  & > * {
    padding: 0 var(--article-offset);
  }

  section {
    margin-bottom: 80px;
    max-width: var(--article-max-width);
  }

  h2 {
    font-weight: var(--font-weight-regular-500);
    font-size: 40px;
    line-height: var(--line-height-120);
    margin-bottom: 32px;
    text-transform: none;
  }

  h3 {
    font-weight: var(--font-weight-regular-600);
    font-size: 24px;
    line-height: var(--line-height-140);
    margin-bottom: 24px;
  }

  p, ul, ol {
    font-weight: var(--font-weight-regular-300);
    font-size: 18px;
    line-height: var(--line-height-200);
    margin-bottom: 56px;
  }

  img {
    width: var(--article-max-width);
    border-radius: 32px;
    height: 500px;
    background-color: var(--color-dark-primary);
    margin-top: 80px;
    overflow: hidden;
    margin-left: calc(-1 * var(--article-offset));
  }
}

.bottomCaption {
  padding: 0 var(--article-offset);
  margin: 100px auto 0;
  max-width: var(--article-max-width);
}

.bigBubble {
  width: 700px;
  height: 700px;
  top: 10%;
  left: -550px;
}

.smallBubbleContainer {
  position: relative;
  contain: layout;
  z-index: -1;
}

.smallBubble {
  width: 600px;
  height: 600px;
  right: -200px;
  top: -400px;
}

@media (max-width: 1905px) {
  .articlePage {
    h1 {
      font-size: 52px;
    }
  }
}

@media (max-width: 1425px) {
  .articlePage {
    --article-max-width: 1000px;

    .imgContainer {
      height: 500px;
    }
  }

  .article {
    section {
      margin-bottom: 40px;
    }

    h2 {
      margin-bottom: 30px;
    }

    p, ul, ol {
      margin-bottom: 24px;
    }

    img {
      height: 450px;
      margin-top: 30px;
    }
  }

  .bottomCaption {
    margin-top: 80px;
  }
}

@media (max-width: 1060px) {
  .articlePage {
    --article-max-width: 650px;
    --article-offset: 80px;

    h1 {
      font-size: 32px;
    }

    .imgContainer {
      height: 400px;
    }
  }

  .caption {
    margin-bottom: 32px;
  }

  .article {
    h2 {
      font-size: 30px;
    }

    img {
      height: 320px;
      margin-top: 30px;
    }
  }

  .bottomCaption {
    margin-top: 60px;
    padding: 0;
    width: 100%;
    max-width: unset;
  }

  .bigBubble {
    width: 500px;
    height: 500px;
    top: 10%;
    left: -250px;
  }

  .smallBubble {
    width: 400px;
    height: 400px;
    right: -50px;
    top: -200px;
  }
}

@media (max-width: 767px) {
  .articlePage {
    --article-max-width: var(--small-screen-max-width);
    --article-offset: 0;

    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .imgContainer {
      height: 300px;
    }
  }

  .caption {
    margin-bottom: 20px;
    gap: 8px;
  }

  .tagList {
    gap: 8px;

    .tag {
      padding: 6px 15px;
    }
  }

  .article {
    h2 {
      font-size: 18px;
      margin-bottom: 14px;
    }

    h3 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    p, ul, ol {
      font-size: 14px;
    }

    img {
      border-radius: 17px;
      height: 150px;
      margin-top: 20px;
      width: 100%;
    }
  }

  .bottomCaption {
    margin-top: 40px;
  }

  .smallBubble {
    width: 300px;
    height: 300px;
    right: -50px;
    top: -100px;
  }
}

@media (max-width: 500px) {
  .articlePage .imgContainer {
    height: 150px;
    border-radius: 17px;
    margin-bottom: 30px;
  }
}