.buttonContainer {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  .stroke {
    animation: rotation 15s linear 0s infinite;
    border-radius: 50%;
  }

  .arrowLink {
    position: absolute;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;

    svg {
      width: 42px;
      height: 42px;
      transition: transform 0.3s cubic-bezier(1, 1.65, 0.265, 1.55);
    }

    &:hover {
      svg {
        transform: rotate(45deg);
        transition: transform 0.3s cubic-bezier(1, 1.65, 0.265, 1.55);
      }
    }
  }
}

.primary {
  background: var(--linear-gradient-primary);

  svg {
    stroke: var(--color-light-100);
  }

  &:hover {
    svg {
      stroke: var(--color-accent);
    }
  }
}

.secondary {
  background-color: var(--color-accent);

  svg {
    stroke: var(--color-dark-secondary);
  }

  &:hover {
    stroke: var(--color-primary);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
