.radioCheckboxContainer {
  display: flex;
  padding: 12px 24px 12px 12px;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: 1px solid var(--color-light-20);
  border-radius: 18px;
  color: var(--color-light-100);
  font-size: 18px;
  font-weight: var(--font-weight-regular-300);
  background-color: var(--color-inactive-element);
  transition: all 0.5s;
  user-select: none;

  input {
    border: 1px solid var(--color-light-20);
    border-radius: 10px;
    width: 32px;
    height: 32px;
    appearance: none;
    background-color: var(--color-dark-primary-20);
    cursor: pointer;
    transition: border-color 0.5s;
  }

  &:hover:not(:has(:checked)) {
    background-color: var(--color-inactive-element-hover);
    border-color: var(--color-primary);
    color: var(--color-primary);
    transition: all 0.5s;

    input {
      border-color: var(--color-primary);
      transition: border-color 0.5s;
    }
  }

  &:has(:checked) {
    background: linear-gradient(351deg, var(--color-primary) 0%, var(--color-primary-bright) 100%);

    input {
      background-color: var(--color-dark-primary);
      background-image: url(../../../svg/check-icon.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (max-width: 767px) {
  .radioCheckboxContainer {
    padding: 6px 12px 6px 6px;
    font-size: 14px;
    border-radius: 10px;
    gap: 6px;

    input {
      border-radius: 6px;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }

    &:has(:checked) {
      input {
        background-size: 10px 10px;
      }
    }
  }
}