.item {
  max-width: 330px;
  width: 100%;
  padding: 32px;

  .number {
    color: var(--color-primary);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-regular-600);
    margin-bottom: 36px;
  }

  .description {
    color: var(--color-light-100);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular-300);
    line-height: var(--line-height-160);
    display: inline-block;
    width: 100%;
  }
}