.servicesLink {
  border-bottom: 1px solid var(--color-primary);
  position: relative;
  z-index: 0;
  padding: 30px 0 40px 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  text-shadow: 0 0 2px var(--color-dark-secondary);
  color: var(--color-light-100);
  font-weight: var(--font-weight-regular-500);
  font-size: 48px;
  line-height: var(--line-height-120);

  svg {
    transition:
      transform 0.4s,
      stroke 0.4s;
  }
}

.text {
  display: flex;
  gap: 27px;
  align-items: center;
}

.header {
  transition: color 0.5s;
}

.number {
  opacity: 0.2;
}

.tagList {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 48px;
}

.tag {
  transition:
    color 0.4s,
    background-color 0.4s;
}

.tag:hover,
.tag:focus-visible {
  color: var(--color-dark-primary);
  background-color: var(--color-accent);
}

.imgContainer {
  width: 394px;
  height: 244px;
  position: absolute;
  right: -20px;
  bottom: 0;
  z-index: -1;
  border-radius: 16px;
  overflow: hidden;
}

.imgPositionContainer {
  position: relative;
  width: 100%;
  height: 224px;
  transform: translateY(224px);
  opacity: 0;
  transition:
    opacity 0.4s,
    transform 0.4s;

  img {
    border-radius: 16px;
  }
}

.servicesLink:hover,
.servicesLink:has(.text:focus-visible),
.servicesLink:has(.arrowLink:focus-visible) {
  .header {
    color: var(--color-accent);
  }

  svg {
    transform: rotate(45deg);
    stroke: var(--color-accent);
  }

  .imgPositionContainer {
    opacity: 1;
    transform: translateY(12px);
  }
}

@media (max-width: 1905px) {
  .number,
  .header {
    font-size: 40px;
  }
}

@media (max-width: 1425px) {
  .number,
  .header {
    font-size: 32px;
  }

  .text {
    gap: 24px;
  }

  .tagList {
    margin-top: 32px;
  }
}

@media (max-width: 1265px) {
  .number,
  .header {
    font-size: 30px;
  }

  .text {
    gap: 24px;
  }

  .tagList {
    gap: 10px 24px;
    margin-top: 21px;
  }

  .imgContainer {
    width: 220px;
    height: 156px;
  }

  .imgPositionContainer {
    transform: translateY(136px);
    height: 136px;
  }
}

@media (max-width: 767px) {
  .servicesLink {
    padding: 6px 0 14px 0;
  }

  .number,
  .header {
    font-size: 14px;
  }

  .text {
    gap: 10px;
  }

  .tagList {
    gap: 10px;
    margin-top: 14px;
  }

  .servicesLink:hover,
  .servicesLink:has(.text:focus-visible),
  .servicesLink:has(.arrowLink:focus-visible) {
    .imgPositionContainer {
      opacity: 0;
      transform: translateY(136px);
    }
  }
}
