.caseCircle {
  width: 252px;
  height: 252px;
  border-radius: 50%;
  border: 10px solid var(--color-dark-secondary);
  display: inline-block;

  img {
    width: 232px;
    height: 232px;
    object-fit: cover;
  }
}