.button {
  --button-height: 100px;
  --button-width: 426px;
  --arrow-width: 80px;
  --border-width: calc((var(--button-height) - var(--arrow-width)) / 2);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: var(--button-width);
  height: var(--button-height);
  position: relative;
  font-size: 24px;
  font-weight: var(--font-weight-regular-300);
  line-height: var(--line-height-200);
  text-transform: uppercase;

  svg {
    width: 24px;
    height: 24px;
    stroke: var(--color-light-100);
    transition: transform 0.4s;
  }

  &:hover {
    .textContainer {
      margin-right: calc(-1 * var(--border-width));
    }

    .background {
      width: 100%;
      border-radius: 72px;
      transition: all 0.4s cubic-bezier(0.92, 0.01, 0.58, 1);
    }

    svg {
      stroke: var(--color-accent);
      transform: rotate(45deg);
      transition: transform 0.4s;
    }
  }
}

.textContainer {
  min-width: calc(var(--button-width) - var(--arrow-width) - var(--border-width) * 2);
  z-index: 2;
  transition: margin 0.4s;
}

.text {
  transition: color 0.4s, margin 0.4s;;
  white-space: nowrap;
  width: fit-content;
  margin: 0 var(--border-width) 0 0;
}

.arrowContainer {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
  width: var(--arrow-width);
  height: var(--arrow-width);
  background: var(--linear-gradient-primary);
  border: var(--border-width) solid transparent;
  box-sizing: content-box;
}

.background {
  width: var(--button-height);
  height: var(--button-height);
  border-radius: 72px;
  position: absolute;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.92, 0.01, 0.58, 1);
}

.colored {
  color: var(--color-light-100);

  .arrowContainer {
    border-color: var(--color-accent);
  }

  .background {
    background-color: var(--color-accent);
  }

  &:hover {
    color: var(--color-dark-primary);

    .arrowContainer {
      border-color: var(--color-accent);
    }
  }
}

.dark {
  color: var(--color-dark-primary);

  .arrowContainer {
    border-color: var(--color-dark-primary);
  }

  .background {
    background-color: var(--color-dark-primary);
  }

  &:hover {
    color: var(--color-light-100);

    .arrowContainer {
      border-color: var(--color-dark-primary);
    }
  }
}

@media (max-width: 1425px) {
  .button {
    --button-height: 80px;
    --arrow-width: 60px;
    --button-width: 319px;
    font-size: 18px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

@media (max-width: 1265px) {
  .button {
    --button-height: 120px;
    --arrow-width: 100px;
    --button-width: 538px;
    font-size: 30px;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 767px) {
  .button {
    --button-height: 50px;
    --arrow-width: 40px;
    --button-width: 224px;
    font-size: 12px;

    svg {
      width: 13px;
      height: 13px;
    }
  }
}
