.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: content-box;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  background: var(--linear-gradient-primary);

  svg {
    width: 24px;
    height: 24px;
  }
}

.primary {
  background-color: var(--linear-gradient-primary);

  svg {
    stroke: var(--color-light-100);
    transition: transform 0.4s;
  }

  &:hover {
    svg {
      transform: rotate(45deg);
      stroke: var(--color-accent);
    }
  }
}

.secondary {
  background: var(--color-accent);

  svg {
    stroke: var(--color-dark-primary);
    transition: all 0.3s cubic-bezier(1, 1.65, 0.265, 1.55);
  }

  &:hover {
    svg {
      transform: rotate(45deg);
      stroke: var(--color-primary);
    }
  }
}

@media (max-width: 1265px) {
  .arrowButton {
    width: 57px;
    height: 57px;

    svg {
      width: 17px;
      height: 17px;
    }
  }
}

@media (max-width: 767px) {
  .arrowButton {
    width: 24px;
    height: 24px;

    svg {
      width: 7px;
      height: 7px;
    }
  }
}
