.warning {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2;
}
.formNotification {
  max-width: 536px;
  width: 100%;
  border-radius: 32px;
  padding: 56px;
  background-color: var(--color-dark-secondary);
  color: var(--color-light-100);
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -200px;

  p {
    font-weight: var(--font-weight-regular-500);
    font-size: 18px;
    line-height: var(--line-height-180);
    opacity: 0.8;
    margin-top: 24px;
    text-align: center;
  }

  button {
    padding: 22px;
    width: 100%;
    border-radius: 64px;
    background-color: var(--color-accent);
    font-weight: var(--font-weight-regular-300);
    font-size: 18px;
    border: none;
    color: var(--color-dark-primary);
  }
}

.buttonsBlock {
  display: flex;
  gap: 20px;
}
