.content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  span {
    font-weight: var(--font-weight-regular-500);
    font-size: 40px;
    line-height: var(--line-height-120);
  }

  button {
    padding: 22px;
    width: 100%;
    border-radius: 64px;
    background-color: var(--color-primary);
    font-weight: var(--font-weight-regular-300);
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
  }
}

.submittedIcon {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  flex-shrink: 0;

  svg {
    width: 76px;
    height: 54px;
  }
}

.message {
  font-weight: var(--font-weight-regular-300);
  font-size: 16px;
  line-height: var(--line-height-180);
  opacity: 0.8;
  margin: 24px 0 0;
}

@media (max-width: 767px) {
  .content {
    gap: 20px;

    span {
      font-size: 18px;
    }

    button {
      padding: 12px;
      font-size: 12px;
    }
  }

  .submittedIcon {
    width: 50px;
    height: 50px;

    svg {
      width: 30px;
      height: 21px;
    }
  }

  .message {
    font-size: 12px;
    margin: 12px 0 0;
  }
}
