.contactsPage {
  h1 {
    margin-bottom: 80px;
  }

  address {
    font-style: normal;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  font-weight: var(--font-weight-regular-250);
  font-size: 24px;
  line-height: var(--line-height-200);
  color: var(--color-light-100);
}

.links {
  text-align: end;
  white-space: nowrap;

  a {
    display: block;
  }
}

.map {
  border-radius: 48px;
  overflow: hidden;
  margin-bottom: 192px;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: flex-start;

  span {
    display: none;
  }
}

@media (max-width: 1265px) {
  .contactsPage {
    h1 {
      margin-bottom: 40px;
    }
  }

  .contacts {
    margin-bottom: 40px;
    font-size: 24px;

    div {
      max-width: 365px;
    }
  }

  .map {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .contactsPage {
    h1 {
      margin-bottom: 20px;
    }
  }

  .contacts {
    margin-bottom: 20px;
    //font-size: 12px;
    font-size: 14px;
    gap: 16px;
  }

  .map {
    border-radius: 18px;
    margin-bottom: 60px;
  }
}
