.contactsPage {
  padding-bottom: var(--last-el-offset);
  color: var(--color-light-100);

  h1 {
    margin-bottom: 80px;
  }

  address {
    font-style: normal;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  font-weight: var(--font-weight-regular-250);
  font-size: 24px;
  line-height: var(--line-height-200);
}

.links {
  text-align: end;
  white-space: nowrap;

  a {
    display: block;

    &:focus-visible {
      text-decoration: underline;
      text-underline-position: under;
    }
  }
}

.map {
  border-radius: 48px;
  overflow: hidden;
}

.contactLinksContainer {
  margin-bottom: 40px;

  p {
    max-width: unset;
    text-align: unset;
  }

  .contactLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    span {
      display: none;
    }
  }
}

.requisites {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: var(--font-weight-regular-250);
  line-height: var(--line-height-140);
}

.file {
  display: block;
  margin-bottom: 80px;
  text-decoration: underline;
  text-underline-position: under;
  width: fit-content;
  transition: color 0.3s;
}

.file:hover {
  color: var(--color-accent);
}

@media (max-width: 1265px) {
  .contactsPage {
    h1,
    .contacts,
    .file {
      margin-bottom: 40px;
    }
  }

  .contacts {
    font-size: 24px;

    div {
      max-width: 365px;
    }
  }

  .map {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .contactsPage {
    h1,
    .contacts,
    .file {
      margin-bottom: 20px;
    }
  }

  .contacts {
    font-size: 14px;
    gap: 16px;
  }

  .map {
    border-radius: 18px;
    margin-bottom: 60px;
  }

  .requisites {
    font-size: 12px;
  }

  .file {
    font-size: 14px;
  }
}
