html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: auto;
  }

  &::-webkit-scrollbar-track {
    background: #292929;
    border: 1px solid black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 5px;
    border: 2px solid #292929;

    &:active {
      background-color: var(--color-accent);
      transition: all 0.4s;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body {
  padding: 0;
  background-color: black;
  font-family: var(--font-family-primary);
  background-image: url(/noise-texture.webp);
  background-size: contain;
  width: 100%;
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

img {
  object-fit: cover;
}

button, a {
  cursor: pointer;
}

h1 {
  font-weight: var(--font-weight-bold-900);
  font-size: 100px;
  line-height: var(--line-height-124);
  text-transform: uppercase;
  color: var(--color-light-100);
  margin-top: 120px;
}

h2 {
  font-weight: var(--font-weight-bold-900);
  font-size: 56px;
  line-height: var(--line-height-140);
  text-transform: uppercase;
  color: var(--color-accent);
}

@media (max-width: 1905px) {
  h1 {
    font-size: 72px;
    line-height: var(--line-height-140);
    margin-top: 100px;
  }
  h2 {
    font-size: 48px;
  }
}

@media (max-width: 1425px) {
  h1 {
    font-size: 64px;
    margin-top: 68px;
  }
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 1265px) {
  h1 {
    font-size: 40px;
    margin-top: 77px;
  }
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 17px;
    margin-top: 50px;
  }
  h2 {
    font-size: 16px;
  }
}
