:root {
  //primary
  --color-primary: #a330ff;
  --color-primary-10: rgba(163, 48, 255, 0.1);
  --color-primary-bright: #ff37df;

  //accent
  --color-accent: #d6ff41;

  //light
  --color-light-100: #ffffff;
  --color-light-80: rgba(255, 255, 255, 0.8);
  --color-light-60: rgba(255, 255, 255, 0.6);
  --color-light-40: rgba(255, 255, 255, 0.4);
  --color-light-20: rgba(255, 255, 255, 0.2);
  --color-light-10: rgba(255, 255, 255, 0.1);

  //dark
  --color-dark-primary: #161616;
  --color-dark-primary-60: rgba(22, 22, 22, 0.6);

  --color-dark-secondary: #292929;
  --color-dark-additional: #74777b;

  //error
  --color-error: #ff006b;

  //gradient
  --linear-gradient-primary: linear-gradient(331deg, #a330ff 0%, #ff37df 100%);

  //for possible use, then delete
  --purple-purple-100: #a330ff;
  --purple-purple-80: rgba(163, 48, 255, 0.8);
  --purple-purple-60: rgba(163, 48, 255, 0.6);
  --purple-purple-40: rgba(163, 48, 255, 0.4);
  --purple-purple-20: rgba(163, 48, 255, 0.2);
  --purple-purple-10: rgba(163, 48, 255, 0.1);

  --yellow-yellow-100: #d6ff41;
  --yellow-yellow-80: rgba(214, 255, 65, 0.8);
  --yellow-yellow-60: rgba(214, 255, 65, 0.6);
  --yellow-yellow-40: rgba(214, 255, 65, 0.4);
  --yellow-yellow-20: rgba(214, 255, 65, 0.2);
  --yellow-yellow-10: rgba(214, 255, 65, 0.1);

  --white-white-100: #fff;
  --white-white-80: rgba(255, 255, 255, 0.8);
  --white-white-60: rgba(255, 255, 255, 0.6);
  --white-white-40: rgba(255, 255, 255, 0.4);
  --white-white-20: rgba(255, 255, 255, 0.2);
  --white-white-10: rgba(255, 255, 255, 0.1);

  --dark-100: #161616;
  --dark-80: rgba(22, 22, 22, 0.8);
  --dark-60: rgba(22, 22, 22, 0.6);
  --dark-40: rgba(22, 22, 22, 0.4);
  --dark-20: rgba(22, 22, 22, 0.2);
  --dark-10: rgba(22, 22, 22, 0.1);

  --dark-dark-100: #292929;
  --dark-dark-80: rgba(41, 41, 41, 0.8);
  --dark-dark-600: rgba(41, 41, 41, 0.6);
  --dark-dark-40: rgba(41, 41, 41, 0.4);
  --dark-dark-20: rgba(41, 41, 41, 0.2);
  --dark-dark-10: rgba(41, 41, 41, 0.1);
  --dark-dark-0: rgba(41, 41, 41, 0);
  --red-red: #ff006b;
}
