:root {
  --font-family-primary: 'Unbounded Variable', sans-serif;
  --font-family-secondary: 'Montserrat Variable', sans-serif;

  // font sizes
  --font-size-xs: 14px;
  --font-size-xss: 16px;
  --font-size-s: 18px;
  --font-size-sm: 24px;
  --font-size-smm: 32px;
  --font-size-m: 40px;
  --font-size-ml: 48px;
  --font-size-l: 56px;
  --font-size-lxl: 80px;
  --font-size-xl: 96px;
  --font-size-xxl: 100px;

  // font weights
  --font-weight-regular-300: 300;
  --font-weight-regular-400: 400;
  --font-weight-regular-500: 500;
  --font-weight-regular-600: 600;
  --font-weight-bold-800: 800;
  --font-weight-bold-900: 900;

  //line heights
  --line-height-120: 120%;
  --line-height-140: 140%;
  --line-height-160: 160%;
  --line-height-180: 180%;
  --line-height-200: 200%;
}