:root {
  --font-family-primary: var(--unbounded), sans-serif;
  --font-family-secondary: var(--montserrat), sans-serif;

  // font weights
  --font-weight-regular-250: 250;
  --font-weight-regular-300: 300;
  --font-weight-regular-400: 400;
  --font-weight-regular-500: 500;
  --font-weight-regular-600: 600;
  --font-weight-bold-800: 800;
  --font-weight-bold-900: 900;

  //line heights
  --line-height-120: 1.2;
  --line-height-124: 1.24;
  --line-height-140: 1.4;
  --line-height-150: 1.5;
  --line-height-160: 1.6;
  --line-height-180: 1.8;
  --line-height-200: 2;
}
