:root {
  --font-family-primary: "Unbounded Variable", sans-serif;
  --font-family-secondary: "Montserrat Variable", sans-serif;

  // font sizes
  --font-size-xs: 14px;
  --font-size-xss: 16px;
  --font-size-s: 18px;
  --font-size-sm: 24px;
  --font-size-smm: 32px;
  --font-size-m: 40px;
  --font-size-ml: 48px;
  --font-size-l: 56px;
  --font-size-lxl: 80px;
  --font-size-xl: 96px;
  --font-size-xxl: 100px;

  // font weights
  --font-weight-regular-250: 250;
  --font-weight-regular-300: 300;
  --font-weight-regular-400: 400;
  --font-weight-regular-500: 500;
  --font-weight-regular-600: 600;
  --font-weight-bold-800: 800;
  --font-weight-bold-900: 900;

  //line heights
  --line-height-120: 1.2;
  --line-height-124: 1.24;
  --line-height-140: 1.4;
  --line-height-150: 1.5;
  --line-height-160: 1.6;
  --line-height-180: 1.8;
  --line-height-200: 2;
}
