.cards {
  display: flex;
  gap: 110px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  user-select: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.card:first-child {
  margin-left: 224px;
}
.card:last-child {
  margin-right: 224px;
}

@media (max-width: 1925px) {
  .cards {
    gap: 128px;
  }
  .card:first-child {
    margin-left: 212px;
  }
  .card:last-child {
    margin-right: 212px;
  }
}
@media (max-width: 1265px) {
  .cards {
    gap: 96px;
  }
  .card:first-child {
    margin-left: 200px;
  }
  .card:last-child {
    margin-right: 200px;
  }
}

@media (max-width: 767px) {
  .cards {
    gap: 29px;
  }
  .card:first-child {
    margin-left: 90px;
  }
  .card:last-child {
    margin-right: 90px;
  }
}
