.list {
  display: flex;
  flex-direction: column;
  gap: 66px;
}

@media (max-width: 1905px) {
  .list {
    gap: 20px;
  }
}
@media (max-width: 1425px) {
  .list {
    gap: 36px;
  }
}
@media (max-width: 1265px) {
  .list {
    gap: 52px;
  }
}
@media (max-width: 767px) {
  .list {
    gap: 24px;
  }
}
