.greetingText {
  font-weight: var(--font-weight-bold-900);
  font-size: 100px;
  line-height: var(--line-height-124);
  text-transform: uppercase;
  color: var(--color-light-100);

  display: flex;
  flex-direction: column;
  gap: 16px;
  white-space: nowrap;
  //position: relative;

  .firstLine {
    padding-left: 140px;
  }

  .secondLine {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  .thirdLine {
    padding-left: 265px;
  }

  //.arrow {
  //  position: absolute;
  //  left: 125px;
  //  bottom: 0;
  //}
}

@media (max-width: 1905px) {
  .greetingText {
    font-size: 72px;
    line-height: var(--line-height-140);

    .firstLine {
      padding-left: 118px;
    }

    .secondLine {
      gap: 32px;
    }

    .thirdLine {
      padding-left: 200px;
    }
  }
}

@media (max-width: 1425px) {
  .greetingText {
    font-size: 64px;

    .firstLine {
      padding-left: 59px;
    }

    .secondLine {
      gap: 24px;
    }

    .thirdLine {
      padding-left: 150px;
    }
  }
}

@media (max-width: 1265px) {
  .greetingText {
    font-size: 40px;
    gap: 5px;

    .firstLine {
      padding-left: 49px;
    }

    .secondLine {
      gap: 26px;
    }
  }
}

@media (max-width: 767px) {
  .greetingText {
    font-size: 17px;

    .firstLine {
      padding-left: 26px;
    }

    .secondLine {
      gap: 10px;
    }

    .thirdLine {
      padding-left: 60px;
    }
  }
}
