:global(.mainPage) .greetingText {
  font-size: 100px;
}

.greetingText {
  font-weight: var(--font-weight-bold-900);
  font-size: 85px;
  line-height: var(--line-height-124);
  text-transform: uppercase;
  color: var(--color-light-100);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.firstLine {
  text-align: end;
  font-size: inherit;
  padding-top: 0;
}

.secondLine {
  display: flex;
  gap: 50px;
  align-items: center;
}

.thirdLine {
  text-align: center;
}

@media (max-width: 1905px) {
  :global(.mainPage) .greetingText {
    font-size: 72px;
  }

  .greetingText {
    font-size: 64px;
    line-height: var(--line-height-140);
  }

  .secondLine {
    gap: 32px;
  }
}

@media (max-width: 1425px) {
  :global(.mainPage) .greetingText {
    font-size: 64px;
  }

  .greetingText {
    font-size: 54px;
  }

  .secondLine {
    gap: 24px;
  }
}

@media (max-width: 1265px) {
  :global(.mainPage) .greetingText {
    font-size: 40px;
  }

  .greetingText {
    font-size: 38px;
    gap: 5px;
  }

  .secondLine {
    gap: 26px;
  }
}

@media (max-width: 767px) {
  :global(.mainPage) .greetingText {
    font-size: 26px;
  }

  .greetingText {
    font-size: 24px;
  }

  .secondLine {
    gap: 10px;
  }
}

@media (max-width: 500px) {
  :global(.mainPage) .greetingText {
    font-size: 17px;
  }

  .greetingText {
    font-size: 15px;
  }

  .secondLine {
    gap: 10px;
  }
}
