.contactLinks {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1905px) {
  .contactLinks {
    gap: 32px;
  }
}

@media (max-width: 1425px) {
  .contactLinks {
    gap: 28px;
  }
}

@media (max-width: 767px) {
  .contactLinks {
    width: 100%;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 20px auto 30px;
  }
}
