.teamMember {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-top: 68px;
  height: 580px;
  border-radius: 45px;
  overflow: hidden;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 513px;
    padding: 48px 0 48px 56px;

    span {
      display: inline-block;
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }

  .workExperience {
    font-weight: var(--font-weight-regular-300);
    font-size: 24px;
    line-height: var(--line-height-120);
    color: var(--color-dark-primary-60);
    margin-bottom: 24px;
  }

  .name {
    font-weight: var(--font-weight-regular-500);
    font-size: 32px;
    line-height: var(--line-height-140);
    color: var(--color-dark-primary);
    margin-bottom: 8px;
  }

  .specialization {
    font-weight: var(--font-weight-regular-300);
    font-size: 24px;
    line-height: var(--line-height-120);
    color: var(--color-dark-primary);
  }

  p {
    font-weight: var(--font-weight-regular-300);
    font-size: 24px;
    line-height: var(--line-height-160);
    color: var(--color-dark-primary);
  }

  .background {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
  }

  .memberPhoto {
    width: 370px;
  }
}

@media (max-width: 1905px) {
  .teamMember {
    padding-top: 88px;
    height: 486px;

    .info {
      height: 436px;
      padding: 48px 0 48px 40px;
    }

    .workExperience {
      font-size: 18px;
      margin-bottom: 16px;
    }

    .name {
      font-size: 24px;
    }

    .specialization {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
    .memberPhoto {
      width: 288px;
    }
  }
}
