.shareButton {
  position: relative;
  width: fit-content;
}

.underline {
  position: absolute;
  color: var(--color-accent);
  font-size: 14px;
  font-weight: var(--font-weight-regular-250);
  display: block;
  text-align: center;
  right: 0;
  left: 0;
  margin-top: 5px;
}
