.services {
  margin-bottom: 160px;
}

.advantages {
  margin-bottom: 240px;
}

.steps {
  margin: 240px 0 266px;
}

.faq {
  padding-bottom: var(--last-el-offset);
}

.mainBubbles,
.advantagesBubbles,
.cardBubbles {
  position: relative;
  contain: layout;
  z-index: -3;
}

.bigBubbleMain {
  width: 900px;
  height: 900px;
  right: -100px;
  top: 350px;
}

.smallBubbleMain {
  width: 600px;
  height: 600px;
  left: 200px;
  top: 0;
}

.bigBubbleAdvantages {
  width: 800px;
  height: 800px;
  top: -400px;
  left: -300px;
}

.smallBubbleCard {
  right: 0;
  width: 600px;
  height: 600px;
  top: -200px;
}

@media (max-width: 1425px) {
  .services,
  .advantages,
  .faq {
    margin-bottom: 120px;
  }

  .steps {
    margin: 160px 0 180px;
  }
}

@media (max-width: 1265px) {
  .bigBubbleMain {
    width: 700px;
    height: 700px;
    top: 150px;
  }

  .smallBubbleMain {
    width: 400px;
    height: 400px;
    left: 100px;
    top: -150px;
  }

  .bigBubbleAdvantages {
    width: 600px;
    height: 600px;
    top: -250px;
    left: -200px;
  }

  .smallBubbleCard {
    right: -200px;
  }
}

@media (max-width: 767px) {
  .services,
  .advantages,
  .faq {
    margin-bottom: 60px;
  }

  .steps {
    margin: 60px 0 80px;
  }

  .bigBubbleMain {
    width: 400px;
    height: 400px;
    top: 70px;
  }

  .smallBubbleMain {
    width: 200px;
    height: 200px;
    left: -50px;
    top: -150px;
  }

  .bigBubbleAdvantages {
    width: 300px;
    height: 300px;
    top: -50px;
    left: -100px;
  }

  .smallBubbleCard {
    width: 300px;
    height: 300px;
    right: -50px;
    top: -50px;
  }
}
