.advantagesSection {
  margin-bottom: 240px;
}

.steps {
  margin: 240px 0 266px;
}

.faq {
  margin-bottom: 150px;
}

@media (max-width: 1425px) {
  .advantagesSection {
    margin-bottom: 120px;
  }

  .steps {
    margin: 160px 0 180px;
  }

  .faq {
    margin-bottom: 120px;
  }
}

@media (max-width: 767px) {
  .advantagesSection {
    margin-bottom: 60px;
  }

  .steps {
    margin: 60px 0 80px;
  }

  .faq {
    margin-bottom: 60px;
  }
}