.discussProject {
  display: flex;
  justify-content: space-between;
  gap: 142px;
  margin: 50px 0 64px;
}

.discussProject p {
  font-weight: var(--font-weight-regular-250);
  font-size: 24px;
  line-height: var(--line-height-200);
  color: var(--color-light-100);
}

.serviceImg {
  border-radius: 48px;
  width: 100%;
  height: 680px;
  background-color: var(--color-dark-secondary);
  margin-bottom: 187px;
  position: relative;
  overflow: hidden;
}

.aboutService {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h2 {
    max-width: fit-content;
  }

  .container {
    max-width: 962px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: flex-start;
    margin-bottom: 240px;

    .arrow {
      gap: 87px;
      z-index: 0;

      &:hover {
        gap: 32px;
      }
    }
  }
}

.container p {
  font-weight: var(--font-weight-regular-250);
  font-size: 24px;
  line-height: var(--line-height-200);
  color: var(--color-light-100);
}

//audience
.audience {
  margin-top: 172px;
}

//team
.team {
  margin: 236px 0;
}

//stepCards
.stepCards {
  margin: 0 0 292px 0;
}

//prices
.prices {
  position: relative;
  margin: auto;

  .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 195px 0 308px;

    .cost {
      max-width: fit-content;
      font-size: 80px;
      font-weight: var(--font-weight-bold-900);
      line-height: var(--line-height-120);
      color: var(--color-light-100);
      margin-bottom: 80px;
      text-align: center;

      br {
        display: none;
      }

      .price {
        color: var(--color-accent);
        white-space: nowrap;
      }
    }

    .arrow {
      margin: auto;
      z-index: 0;
    }
  }

  .backgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
  }

  .background {
    position: absolute;
    background: linear-gradient(351deg, #a330ff 0%, #ff37df 100%);
    transform: rotate(-2deg);
    border-radius: 56px;
    width: 2036px;
    height: 594px;
    z-index: -1;
    top: 0;
    margin: auto;
  }

  .additionalServices {
    padding: 0 266px;
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: auto;

    h2 {
      text-align: right;
      margin-bottom: 140px;
    }

    .arrow {
      position: absolute;
      top: 269px;
      right: 450px;
      z-index: 0;
      width: 161px;
      height: 192px;
    }
  }
}

.faq {
  margin: 260px 0 234px;
}

.arrowLink {
  z-index: 0;
}

@media (max-width: 1905px) {
  .serviceImg {
    border-radius: 48px;
    height: 500px;
    margin-bottom: 64px;
  }
  .aboutService {
    .container {
      max-width: 600px;
      gap: 56px;
      margin-bottom: 112px;
    }
  }
  .audience {
    margin-top: 115px;
  }
  .team {
    margin: 125px auto 220px;
  }
  .stepCards {
    margin: 0 0 161px 0;
  }

  .prices {
    .container {
      padding: 177px 0 288px;

      .cost {
        font-size: 56px;
        margin-bottom: 55px;
      }
    }

    .background {
      height: 490px;
    }

    .additionalServices {
      padding: 0 212px;

      h2 {
        margin-bottom: 80px;
      }

      .arrow {
        top: 150px;
        right: 220px;
        width: 137px;
        height: 203px;
      }
    }
  }
  .faq {
    margin: 152px 0 234px;
  }
}

@media (max-width: 1425px) {
  .aboutService .container .arrow {
    gap: 60px;
  }

  .team {
    margin: 125px auto 150px;
  }

  .prices .additionalServices {
    .arrow {
      height: 150px;
      width: 100px;
      transform: scale(1, -1) rotate(90deg);
      top: 30px;
      right: 800px;
    }
  }
  .prices {
    .container {
      padding: 177px 0 250px;
    }
  }

  .faq {
    margin: 152px 0 100px;
  }
}

@media (max-width: 1265px) {
  .discussProject {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .serviceImg {
    height: 422px;
    margin-bottom: 100px;
    position: relative;
    width: calc(100% + 32px);
    margin-left: -16px;
  }

  .aboutService {
    h2 {
      margin-bottom: 50px;
    }

    .container {
      max-width: unset;
      margin-bottom: 100px;
      gap: 40px;
      align-items: center;
    }
  }

  //prices
  .prices {
    .container {
      padding: 120px 0 100px;
      margin-bottom: 100px;

      .cost {
        font-size: 48px;
        margin-bottom: 30px;

        br {
          display: inline;
        }
      }

      .arrow {
        margin: auto;
        z-index: 0;
      }
    }

    .backgroundContainer .background {
      height: 482px;
    }

    .additionalServices {
      padding: 0 var(--offset-x);

      h2 {
        margin-bottom: 65px;
      }

      .arrow {
        right: 600px;
      }
    }
  }
}

@media (max-width: 767px) {
  .servicePage {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

  .discussProject {
    gap: 20px;
    margin: 20px 0 50px;
  }

  .discussProject p, .container p {
    font-size: 12px;
  }

  .serviceImg {
    height: 176px;
    margin-bottom: 50px;
    border-radius: 18px;
  }

  .aboutService {
    h2 {
      margin-bottom: 20px;
    }

    .container {
      margin-bottom: 50px;
      gap: 20px;
    }
  }
  .audience {
    margin-top: 50px;
  }
  .team {
    margin: 50px auto 60px;
  }
  .stepCards {
    margin: 0 0 50px 0;
  }

  //prices
  .prices {
    .container {
      padding: 50px 0 40px;
      margin-bottom: 60px;

      .cost {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }

    .backgroundContainer .background {
      height: 200px;
    }

    .additionalServices {

      h2 {
        margin-bottom: 30px;
      }

      .arrow {
        right: 245px;
        height: 50px;
        width: 40px;
        top: 15px;
      }
    }
  }

  .faq {
    margin: 60px 0;
  }
}

