.servicesPage {
  max-width: 1920px;
  padding: 0 124px;
  width: 100%;
  margin: auto;

  h1 {
    margin-bottom: 72px;
    margin-left: 142px;
  }
}

.firstRow,
.secondRow {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.secondRow {
  justify-content: flex-start;
}
.cardContainer {
  margin-bottom: 272px;
}

@media (max-width: 1905px) {
  .servicesPage {
    padding: 0 108px;
  }
  .firstRow,
  .secondRow {
    gap: 24px;
    margin-bottom: 24px;
  }
  .cardContainer {
    width: 1232px;
    margin: 0 auto 230px;
  }
}
