.label {
  color: var(--color-light-40);
  font-size: 16px;
  font-weight: var(--font-weight-regular-400);
  line-height: var(--line-height-140);
  text-transform: uppercase;
  width: fit-content;

  .required {
    color: var(--color-accent);
    width: fit-content;
  }
}

@media (max-width: 1425px) {
  .label {
    font-size: 14px;
  }
}
@media (max-width: 1265px) {
  .label {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .label {
    font-size: 10px;
  }
}
