.footer {
  width: 100%;
  position: relative;

  .container {
    padding: 0 124px 42px 124px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contacts {
    color: var(--color-light-100);
    font-weight: var(--font-weight-regular-600);
    font-size: var(--font-size-lxl);
    line-height: var(--line-height-140);
    text-align: right;

    span:last-child {
      margin-top: 16px;
      display: inline-block;
    }

    address {
      font-style: normal;
      font-weight: var(--font-weight-regular-600);
      font-size: var(--font-size-smm);
      line-height: var(--line-height-160);
      margin-top: 39px;

      span:last-child {
        font-weight: var(--font-weight-regular-400);
        font-size: var(--font-size-sm);
        line-height: var(--line-height-180);
      }
    }
  }

  .panelUp {
    margin: auto;

    .arrow {
      margin: auto;
      margin-bottom: -20px;
    }

    .bottomCaption {
      background-color: var(--color-dark-primary);
      height: 101px;
      border-radius: 72px 72px 0 0;
      padding: 40px 124px;
      font-weight: var(--font-weight-regular-300);
      font-size: var(--font-size-xs);
      line-height: var(--line-height-140);
      color: var(--color-accent);
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;

      span:last-child {
        color: var(--color-light-60);
        justify-self: end;
      }
    }
  }
}
