.navigationButton {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus-visible {
    .upCaption {
      color: var(--color-dark-primary);
    }

    .up {
      svg {
        stroke: var(--color-accent);
        transform: rotate(-45deg);
      }
    }
  }

  &:not(:has(.up)):focus-visible {
    outline: 1px solid var(--color-accent);
    outline-offset: 5px;
    border-radius: 50%;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.up {
  background-color: var(--color-dark-primary);
  border: 8px solid var(--color-primary);

  svg {
    stroke: var(--color-light-100);
    transition: all 0.4s;
  }

  &:hover {
    svg {
      stroke: var(--color-accent);
      transform: rotate(-45deg);
      transition: all 0.4s;
    }
  }
}

.upCaption {
  font-weight: var(--font-weight-regular-400);
  margin: 0 auto 13px;
  font-size: 24px;
  line-height: var(--line-height-180);
  text-transform: uppercase;
  color: var(--color-light-100);
  transition: all 0.4s;
}

.next,
.previous {
  background-color: var(--color-accent);
  transition: background-color 0.4s;

  svg {
    stroke: var(--color-dark-primary);
    transition: stroke 0.4s;
  }
}

.previous {
  transform: rotate(-90deg);
}

.navigationButton:disabled {
  .next,
  .previous {
    background-color: var(--color-dark-secondary);
    cursor: default;

    svg {
      stroke: var(--color-accent);
    }
  }
}

@media (max-width: 1905px) {
  .upCaption {
    font-size: 18px;
    font-weight: var(--font-weight-regular-300);
    margin-bottom: 16px;
  }
}

@media (max-width: 1265px) {
  .navigationButton {
    svg {
      width: 13px;
      height: 13px;
    }
  }
  .buttonContainer {
    width: 48px;
    height: 48px;
  }

  .up {
    border-width: 5px;
  }

  .upCaption {
    font-size: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .navigationButton {
    svg {
      width: 9px;
      height: 9px;
    }
  }

  .buttonContainer {
    width: 40px;
    height: 40px;
  }

  .up {
    border-width: 2px;
  }

  .upCaption {
    margin-bottom: 0;
  }

  .next,
  .previous {
    width: 30px;
    height: 30px;
  }
}
