.tag {
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: var(--font-weight-regular-300);
  text-transform: uppercase;
  line-height: var(--line-height-200);
  border: 1px solid var(--color-dark-additional);
  border-radius: 500px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  white-space: nowrap;
}

.colored {
  background-color: var(--color-accent);
  color: var(--color-dark-primary);
}

.monochromePrimary {
  background-color: var(--color-dark-secondary);
  color: var(--color-light-100);
}

.monochromeSecondary {
  font-size: 18px;
  padding: 10px 24px;
  text-transform: none;
  background-color: var(--color-dark-secondary);
  color: var(--color-light-100);
  line-height: var(--line-height-160);
  align-self: baseline;
}

@media (max-width: 1905px) {
  .tag {
    line-height: var(--line-height-140);
  }

  .monochromeSecondary {
    font-size: 16px;
  }
}

@media (max-width: 1265px) {
  .tag {
    font-size: 20px;
  }
  .monochromeSecondary {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .tag {
    font-size: 12px;
    padding: 6px 10px;
    gap: 8px;
  }
  .monochromeSecondary {
    font-size: 12px;
  }
}
