.aboutPage {
  p {
    font-weight: var(--font-weight-regular-250);
    font-size: 24px;
    line-height: var(--line-height-200);
    color: var(--color-light-100);
    margin: 50px 0 70px;
  }

  .imageContainer {
    border-radius: 48px;
    height: 960px;
    overflow: hidden;
    margin-bottom: 140px;
  }

  :global {
    .mainContainer {
      contain: layout;
    }
  }
}

.aboutCompany {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 154px;
  gap: 150px;

  h2 {
    white-space: nowrap;
  }

  p {
    width: 820px;
  }
}

.teamCards {
  margin: 178px 0 290px 0;
}

.bubble {
  top: -100px;
  right: -300px;
  width: 800px;
  height: 800px;
}

@media (max-width: 1425px) {
  .aboutPage .imageContainer {
    height: 900px;
    margin-bottom: 100px;
  }

  .aboutCompany {
    margin-bottom: 100px;

    p {
      width: 600px;
    }
  }

  .teamCards {
    margin: 100px 0 150px;
  }

  .bubble {
    top: 0;
    right: -150px;
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 1265px) {
  .aboutPage {
    p {
      font-size: 28px;
      margin: 40px 0 46px;
    }

    .imageContainer {
      height: 528px;
      margin-bottom: 106px;
    }
  }

  .aboutCompany {
    margin-bottom: 50px;
    flex-direction: column;
    gap: 50px;

    p {
      width: unset;
    }
  }

  .teamCards {
    margin: 100px 0;
  }

}

@media (max-width: 767px) {
  .aboutPage {
    p {
      font-size: 14px;
      margin: 20px 0 22px;
    }

    .imageContainer {
      border-radius: 18px;
      height: 350px;
      margin-bottom: 60px;
    }
  }

  .aboutCompany {
    margin-bottom: 30px;
    gap: 30px;
  }

  .teamCards {
    margin: 60px 0;
  }

  .bubble {
    top: -70px;
    right: -20px;
    width: 300px;
    height: 300px;
  }
}


@media (max-width: 500px) {
  .aboutPage .imageContainer {
    height: 220px;
  }
}