.buttonContainer {
  --button-width: 80px;
  width: var(--button-width);
  height: var(--button-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--color-accent);
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s ease-in;
}

.closedBackground {
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: all 0.5s ease-in;
}

.horizontal,
.vertical {
  height: 5px;
  width: 38px;
  border-radius: 3px;
  background-color: var(--color-dark-primary);
  position: absolute;
  transition: all 0.5s ease-in;
}

.vertical {
  transform: rotate(90deg);
}

.opened {
  transform: rotate(90deg);
  border-radius: 50%;

  .closedBackground {
    background-color: var(--color-primary);
    opacity: 1;
    width: var(--button-width);
    height: var(--button-width);
    border-radius: 50%;
    transition: all 0.5s ease-in;
  }

  .horizontal {
    width: 0 !important;
  }
}

@media (max-width: 1265px) {
  .buttonContainer {
    --button-width: 45px;
  }

  .horizontal,
  .vertical {
    height: 3px;
    width: 18px;
  }
}

@media (max-width: 767px) {
  .buttonContainer {
    --button-width: 19px;
  }

  .horizontal,
  .vertical {
    height: 1px;
    width: 8px;
  }
}