.footer {
  position: relative;
}

.container {
  padding: 0 124px 42px 124px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts {
  color: var(--color-light-100);
  font-weight: var(--font-weight-regular-600);
  font-size: 80px;
  line-height: var(--line-height-140);
  text-align: right;

  a {
    display: block;
    white-space: nowrap;

    &:focus-visible {
      text-decoration: underline;
      text-underline-position: under;
    }
  }

  span:last-child {
    margin-top: 16px;
    display: inline-block;
  }

  address {
    font-style: normal;
    font-weight: var(--font-weight-regular-600);
    font-size: 32px;
    line-height: var(--line-height-160);
    margin-top: 39px;

    span:last-child {
      font-weight: var(--font-weight-regular-400);
      font-size: 24px;
      line-height: var(--line-height-180);
    }
  }
}

.email {
  margin-bottom: 10px;
}

.arrow {
  margin-bottom: -45px;
  display: flex;
  justify-content: center;
}

.bottomCaption {
  background-color: var(--color-dark-primary);
  height: 130px;
  border-radius: 72px 72px 0 0;
  padding: 40px 124px;
  font-weight: var(--font-weight-regular-300);
  font-size: 14px;
  line-height: var(--line-height-140);
  color: var(--color-accent);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.docLinks {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.copyright {
  color: var(--color-light-60);
  justify-self: end;
}

@media (max-width: 1905px) {
  .contacts {
    font-size: 56px;

    address {
      font-size: 24px;
      margin-top: 45px;

      span:last-child {
        font-size: 18px;
        margin-top: 8px;
      }
    }
  }

  .bottomCaption {
    height: 110px;
    padding: 28px 108px;
  }
}

@media (max-width: 1425px) {
  .contacts {
    font-size: 48px;

    address {
      font-size: 20px;
      margin-top: 29px;

      span:last-child {
        font-size: 16px;
      }
    }
  }

  .bottomCaption {
    padding: 28px;
  }
}

@media (max-width: 1265px) {
  .container {
    padding: 0 74px 37px;
    flex-wrap: wrap-reverse;
    align-items: center;
  }

  .contacts {
    font-size: 28px;

    address {
      font-size: 14px;
      margin-top: 18px;

      span:last-child {
        font-size: 14px;
        margin-top: 0;
        font-weight: var(--font-weight-regular-300);
      }
    }
  }

  .arrow {
    margin-bottom: -25px;
  }

  .bottomCaption {
    height: 100px;
    border-radius: 25px 25px 0 0;
    padding: 19px 24px 12px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }

  .briefButton {
    margin: auto;
  }

  .contacts {
    font-size: 14px;
    max-width: 60%;

    address {
      font-size: 12px;
      margin-top: 20px;

      span:last-child {
        font-size: 10px;
      }
    }
  }

  .arrow {
    margin-bottom: -15px;
  }

  .bottomCaption {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    padding-top: 25px;
  }

  .docLinks {
    align-items: center;
  }
}
