.item {
  max-width: 330px;
  width: 100%;

  .number {
    color: var(--color-primary);
    font-size: 56px;
    font-weight: var(--font-weight-regular-600);
    margin-bottom: 36px;
  }

  .description {
    color: var(--color-light-100);
    font-size: 18px;
    font-weight: var(--font-weight-regular-300);
    line-height: var(--line-height-160);
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 1905px) {
  .item {
    max-width: 264px;

    .description {
      font-size: 14px;
    }
  }
}

@media (max-width: 1425px) {
  .item {
    max-width: 380px;
  }
}

@media (max-width: 1425px) {
  .item {
    max-width: 340px;
  }
}

@media (max-width: 767px) {
  .item {
    max-width: 340px;


    .number {
      font-size: 30px;
      margin-bottom: 10px;
    }

    .description {
      font-size: 12px;
    }
  }
}
