.header {
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: auto;
  position: sticky;
  top: 32px;
  z-index: 20;
  padding-top: 32px;

  .rightBlock {
    display: flex;
    gap: 24px;
  }
}

@media (max-width: 1905px) {
  .header {
    width: 85%;
  }
}
@media (max-width: 1425px) {
  .header {
    width: 81%;
  }
}
