.radioCheckboxGroupContainer {
  position: relative;
}

.answerVariants {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 32px 0 10px;
}

.error {
  color: var(--color-error);
  padding-top: 5px;
  border-top: 1px solid var(--color-error);
  text-align: right;
  position: absolute;
  left: 0;
  right: 0;
}
