.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 513px;
  padding: 48px 0 48px 56px;
  max-width: 440px;
  color: var(--color-dark-primary);
}

.workExperience,
.specialization,
.description {
  font-weight: var(--font-weight-regular-300);
  font-size: 24px;
  line-height: var(--line-height-120);
}

.workExperience {
  color: var(--color-dark-primary-60);
}

.name {
  font-weight: var(--font-weight-regular-500);
  font-size: 32px;
  line-height: var(--line-height-140);
  margin: 24px 0 8px;
}

.description {
  line-height: var(--line-height-160);
}

.imgContainer {
  position: absolute;
  right: 0;
  bottom: 0;
}

.imgContainer .imgPositionContainer {
  width: 370px;
  height: 512px;
  background-color: unset;

  img {
    object-fit: contain;
    object-position: right bottom;
    z-index: -1;
  }
}

.imgContainer .loader {
  border: 5px solid black;
  border-bottom-color: var(--color-primary);
}

@media (max-width: 1675px) {
  .info {
    height: 436px;
    padding: 48px 0 48px 40px;
    max-width: 311px;
  }

  .workExperience,
  .specialization {
    font-size: 18px;
  }

  .name {
    font-size: 24px;
    margin-top: 16px;
  }

  .description {
    font-size: 16px;
    padding-right: 26px;
  }

  .imgContainer .imgPositionContainer {
    width: 288px;
    height: 398px;
  }
}

@media (max-width: 970px) {
  .info {
    height: 568px;
    max-width: 370px;
  }

  .imgContainer .imgPositionContainer {
    width: 368px;
    height: 510px;
  }

  .description {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .info {
    height: 241px;
    max-width: 180px;
    padding: 16px 0 16px 16px;
  }

  .workExperience,
  .specialization,
  .description {
    font-size: 10px;
  }

  .description {
    font-size: 12px;
    padding-right: 10px;
  }

  .imgContainer .imgPositionContainer {
    width: 153px;
    height: 212px;
  }

  .name {
    font-size: 15px;
    margin: 0;
  }
}
