.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 513px;
  padding: 48px 0 48px 56px;
  max-width: 370px;

  span {
    display: inline-block;
  }

  div {
    display: flex;
    flex-direction: column;
  }
}

.workExperience {
  font-weight: var(--font-weight-regular-300);
  font-size: 24px;
  line-height: var(--line-height-120);
  color: var(--color-dark-primary-60);
  margin-bottom: 24px;
}

.name {
  font-weight: var(--font-weight-regular-500);
  font-size: 32px;
  line-height: var(--line-height-140);
  color: var(--color-dark-primary);
  margin-bottom: 8px;
}

.specialization {
  font-weight: var(--font-weight-regular-300);
  font-size: 24px;
  line-height: var(--line-height-120);
  color: var(--color-dark-primary);
}

.description {
  font-weight: var(--font-weight-regular-300);
  font-size: 24px;
  line-height: var(--line-height-160);
  color: var(--color-dark-primary);
}

.imgContainer {
  position: absolute;
  right: 0;
  bottom: 0;
}

.imgContainer .imgPositionContainer {
  position: relative;
  width: 370px;
  height: 512px;
  background-color: unset;

  img {
    object-fit: contain;
    object-position: right bottom;
    z-index: -1;
  }
}

.imgContainer .loader {
  border: 5px solid black;
  border-bottom-color: var(--color-primary);
}

@media (max-width: 1675px) {
  .info {
    height: 436px;
    padding: 48px 0 48px 40px;
    max-width: 311px;
  }

  .workExperience {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .name {
    font-size: 24px;
  }

  .specialization {
    font-size: 18px;
  }

  .description {
    font-size: 16px;
    padding-right: 26px;
  }

  .imgContainer .imgPositionContainer {
    width: 288px;
    height: 398px;
  }
}

@media (max-width: 970px) {
  .info {
    height: 568px;
    max-width: 370px;
  }

  .imgContainer .imgPositionContainer {
    width: 368px;
    height: 510px;
  }

  .description {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .info {
    height: 232px;
    max-width: 180px;
    padding: 16px 0 16px 16px;
  }

  .imgContainer .imgPositionContainer {
    width: 153px;
    height: 212px;
  }

  .workExperience {
    font-size: 10px;
    margin-bottom: 4px;
  }

  .name {
    font-size: 15px;
    margin-bottom: 4px;
  }

  .specialization {
    font-size: 10px;
  }

  .description {
    font-size: 10px;
  }
}