.questionContainer {
  padding-top: 48px;
  border-top: 1px solid var(--color-dark-additional);
}

.accordion {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.question {
  font-size: 48px;
  font-weight: var(--font-weight-regular-500);
  line-height: var(--line-height-120);
  color: var(--color-light-100);
  margin-bottom: 110px;
  text-transform: none;
  width: 85%;
  transition: margin-bottom 1s;
}

.answer {
  font-size: 24px;
  font-weight: var(--font-weight-regular-300);
  line-height: var(--line-height-200);
  color: var(--color-light-100);
  margin: 0;
  display: block;
  max-height: 0;
  overflow: hidden;
  width: 85%;
  transition: max-height 1s,
  margin-bottom 1s;
}

.opened {
  .question {
    margin-bottom: 70px;
  }

  .answer {
    margin-bottom: 88px;
  }
}

@media (max-width: 1905px) {
  .question {
    margin-bottom: 70px;
  }
}

@media (max-width: 1425px) {
  .question {
    font-size: 40px;
  }

  .opened {
    .question {
      margin-bottom: 40px;
    }

    .answer {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1265px) {
  .questionContainer {
    padding-top: 20px;
  }

  .question {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .opened {
    .question {
      margin-bottom: 30px;
    }

    .answer {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 767px) {
  .questionContainer {
    padding-top: 8px;
  }

  .question {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .answer {
    font-size: 12px;
  }

  .opened {
    .question {
      margin-bottom: 12px;
    }

    .answer {
      margin-bottom: 16px;
    }
  }
}