.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-dark-primary);
  width: 100%;
  height: 100%;
}

.loader {
  position: absolute;
}
