.websiteLink {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-light-100);
  font-weight: var(--font-weight-regular-300);

  .caption {
    font-size: 16px;
    line-height: var(--line-height-140);
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: var(--font-weight-regular-400);
  }

  .linkWithName {
    display: flex;
    gap: 24px;
    font-size: 32px;
    line-height: var(--line-height-200);
    align-items: center;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-secondary);
    border-radius: 50%;
    transition: all 0.4s cubic-bezier(0.92, 0.01, 0.58, 1);
    width: 60px;
    height: 60px;

    svg {
      width: 27px;
      fill: var(--color-light-100);
      transition: all 0.4s cubic-bezier(0.92, 0.01, 0.58, 1);
    }

    &:hover {
      background-color: var(--color-accent);
      transition: all 0.4s cubic-bezier(0.92, 0.01, 0.58, 1);
      svg {
        fill: var(--color-dark-primary);
        transform: rotate(45deg);
        transition: all 0.4s cubic-bezier(0.92, 0.01, 0.58, 1);
      }
    }
  }
}

@media (max-width: 1905px) {
  .websiteLink {
    gap: 12px;

    .linkWithName {
      font-size: 18px;
      gap: 24px;
    }

    a {
      width: 40px;
      height: 40px;

      svg {
        width: 20px;
      }
    }
  }
}
