.websiteLink {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  color: var(--color-light-100);

  &:hover, &:has(:focus-visible) {
    .iconContainer {
      background-color: var(--color-accent);

      svg {
        fill: var(--color-dark-primary);
      }

      path {
        transform: rotate(45deg);
      }
    }
  }
}

.caption {
  font-size: 16px;
  line-height: var(--line-height-140);
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: var(--font-weight-regular-400);
}

.linkWithName {
  display: flex;
  gap: 24px;
  font-size: 32px;
  line-height: var(--line-height-200);
  font-weight: var(--font-weight-regular-300);
  align-items: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-secondary);
  border-radius: 50%;
  transition: background-color 0.4s cubic-bezier(0.92, 0.01, 0.58, 1);
  width: 60px;
  height: 60px;

  svg {
    width: 27px;
    fill: var(--color-light-100);
    transition: fill 0.4s cubic-bezier(0.92, 0.01, 0.58, 1);
    overflow: visible;
  }

  path {
    transition: transform 0.4s;
    transform-origin: center;
  }
}

@media (max-width: 1905px) {
  .websiteLink {
    gap: 12px;
  }
  .linkWithName {
    font-size: inherit;
    gap: 24px;
  }

  .iconContainer {
    width: 40px;
    height: 40px;

    svg {
      width: 20px;
    }
  }
}

@media (max-width: 1265px) {
  .caption {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .websiteLink {
    gap: 10px;
  }
  .caption {
    font-size: 12px;
  }

  .linkWithName {
    gap: 16px;
  }

  .iconContainer {
    width: 24px;
    height: 24px;

    svg {
      width: 14px;
    }
  }

}
