.underText {
  font-weight: var(--font-weight-regular-300);
  font-size: 16px;
  line-height: var(--line-height-140);
  color: var(--color-light-40);
  margin-top: 7px;
}

.staticText {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contentLength {
  display: flex;
  align-items: center;
}

.underlineMessage {
  display: flex;
  justify-content: flex-end;
  max-width: calc(100% - 78px);
  text-align: center;

  div {
    word-break: break-word;
  }
}

.error {
  .errorText {
    color: var(--color-error);
    margin-top: 5px;
    font-size: 14px;
  }
}

@media (max-width: 1425px) {
  .underText {
    font-size: 14px;
  }
}

@media (max-width: 1265px) {
  .underText {
    margin-top: 1px;
  }
  .underlineMessage {
    max-width: calc(100% - 87px);
  }
}

@media (max-width: 767px) {
  .underText {
    font-size: 10px;
    margin-top: 1px;
  }

  .underlineMessage {
    max-width: calc(100% - 60px);
    text-align: end;
  }

  .fileContainer {
    gap: 0;
  }
  .error {
    .errorText {
      font-size: 10px;
    }
  }
}

@media (max-width: 500px) {
  .staticText:has(.hasFile) {
    flex-direction: column;
    gap: 5px;

    .underlineMessage {
      max-width: unset;
      justify-content: flex-start;
      text-align: center;
    }
  }
}
