.briefNavigationLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 72px;
  padding: 8px 8px 8px 24px;
  gap: 28px;
  font-weight: var(--font-weight-regular-300);
  font-size: 18px;
  line-height: var(--line-height-160);
  color: var(--color-light-100);
  box-sizing: border-box;
}

.indicator {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-accent-20);
  background-color: var(--color-dark-primary-20);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  svg {
    width: 15px;
    height: 9px;
  }
}

.active {
  background-color: var(--color-primary);

  .indicator {
    background-color: var(--color-dark-primary);
    border-color: var(--color-light-100);
  }
}

@media (max-width: 1099px) {
  .briefNavigationLink {
    font-size: 12px;
    padding: 8px 6px 8px 16px;
    gap: 10px;
  }

  .text {
    text-align: center;
    width: 100%;
  }

  .indicator {
    width: 27px;
    height: 27px;

    svg {
      width: 10px;
      height: 6px;
    }
  }
}
