.form {
  background-color: var(--color-dark-primary);
  border-radius: 72px;
  padding: 64px 110px 85px;

  .mainInfo {
    display: flex;
    justify-content: space-between;
    gap: 39px;
    margin-bottom: 56px;

    .item {
      max-width: 458px;
      width: 100%;
    }
  }

  .checkbox {
    margin: 56px 0 33px;
  }

  .submit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
      max-width: 852px;
      width: 100%;
      font-weight: var(--font-weight-regular-300);
      font-size: 14px;
      line-height: var(--line-height-200);
      color: var(--color-light-100);

      a {
        text-decoration: none;
        font-weight: var(--font-weight-regular-400);
        color: var(--color-accent);
      }
    }

    .arrowButton {
      gap: 70px;
      z-index: 0;

      &:hover {
        gap: 56px;
      }
    }
  }
}

@media (max-width: 1905px) {
  .form {
    padding: 56px 80px 62px;
    .mainInfo {
      gap: 24px;
    }
    .item {
      max-width: 312px;
    }
    .submit {
      p {
        max-width: 728px;
      }
      .arrowButton {
        gap: 47px;

        &:hover {
          gap: 24px;
        }
      }
    }
  }
}

@media (max-width: 1425px) {
  .form {
    padding: 56px 89px 66px;
    .item {
      max-width: 239px;
    }
    .submit {
      p {
        font-size: 12px;
        max-width: 504px;
      }

      .arrowButton {
        gap: 47px;

        &:hover {
          gap: 24px;
        }
      }
    }
  }
}
