.buttons {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
  //margin: 0 124px 70px 0;
}

.cards {
  display: flex;
  gap: 24px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  user-select: none;
  padding: 0 16px;
  margin-left: 124px;
  transition: margin-left 0.2s;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.teamBlock {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 70px;
    padding: 0 124px;
  }
}
