.teamBlock {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 70px;
    padding: 0 124px;
  }

  .buttons {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
  }

  .cards {
    display: flex;
    gap: 24px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    user-select: none;
    padding: 0 16px;
    transition: margin-left 0.2s;
    position: relative;
    z-index: 0;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .swiperSlide {
    width: 536px !important;

    &:first-child {
      margin-left: 124px;
    }

    &:last-child {
      margin-right: 124px;
    }
  }
}

@media (max-width: 1265px) {
  .teamBlock {
    .header {
      padding: 0 16px;
    }

    .swiperSlide {
      &:first-child {
        margin-left: 32px;
      }

      &:last-child {
        margin-right: 32px;
      }
    }
  }
}

@media (max-width: 767px) {
  .teamBlock {
    .header {
      margin-bottom: 30px;
    }

    .cards {
      gap: 10px;
    }
    .buttons {
      gap: 16px;
    }
    .swiperSlide {
      width: 288px !important;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
