.location {
  padding: 112px 124px 100px;
  background-color: var(--color-accent);
  border-radius: 72px;
  margin: 0 auto 162px;
  max-width: 1920px;

  .text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    white-space: pre-wrap;
    font-weight: var(--font-weight-bold-800);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-150);
    text-transform: uppercase;
    color: var(--color-dark-primary);
    word-wrap: break-word;
    margin-bottom: 69px;

    .starsSymbols {
      width: 387px;
    }

    .happySymbol {
      width: 303px;
      background: linear-gradient(345deg, #a330ff 0%, #ff37df 100%);
      font-weight: var(--font-weight-bold-800);
    }

    .kaomojiSymbol {
      width: 380px;
    }

    .emojiSymbol {
      width: 198px;
    }

    .arrowSymbol {
      width: 208px;

      svg {
        width: 37px;
        stroke: var(--color-accent);
        height: 37px;
      }
    }

    .kissSymbol {
      width: 208px;
    }
  }
}

.map {
  height: 599px;
  position: relative;

  p {
    font-weight: var(--font-weight-regular-300);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-180);
    color: var(--color-dark-primary);
    width: 638px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}
