.form {
  background-color: var(--color-dark-primary);
  border-radius: 72px;
  padding: 64px 110px 85px;
  overflow-x: hidden;
  position: relative;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  gap: 39px;
  margin-bottom: 56px;
}

.item {
  max-width: 458px;
  width: 100%;
}

.inputWithCounter {
  max-width: 100%;
}

.checkbox {
  margin: 56px 0 33px;
}

.submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  p {
    max-width: 852px;
    width: 100%;
    font-weight: var(--font-weight-regular-300);
    font-size: 14px;
    line-height: var(--line-height-200);
    color: var(--color-light-100);

    a {
      font-weight: var(--font-weight-regular-400);
      color: var(--color-accent);

      &:focus-visible {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }

  .arrowButton {
    --button-width: 347px;
  }
}

.loaderContainer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

@media (max-width: 1905px) {
  .form {
    padding: 56px 80px 62px;
  }

  .mainInfo {
    gap: 24px;
  }

  .submit {
    p {
      max-width: 728px;
    }
  }
}

@media (max-width: 1425px) {
  .form {
    padding: 56px 89px 66px;
  }

  .submit {
    p {
      font-size: 12px;
      max-width: 504px;
    }

    .arrowButton {
      --button-width: 240px;
    }
  }
}

@media (max-width: 1265px) {
  .form {
    padding: 33px 52px 40px;
  }

  .mainInfo {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }

  .item {
    max-width: unset;
  }

  .submit {
    gap: 30px;

    p {
      font-size: 10px;
      max-width: unset;
    }

    .arrowButton {
      --button-height: 48px;
      --button-width: 172px;
      --arrow-width: 35px;
      font-size: 12px;

      svg {
        width: 13px;
        height: 13px;
      }
    }
  }
}

@media (max-width: 767px) {
  .form {
    padding: 20px;
    border-radius: 12px;
  }

  .mainInfo {
    gap: 14px;
    margin-bottom: 14px;
  }

  .checkbox {
    margin: 24px 0;
  }

  .submit {
    flex-direction: column;

    p {
      font-size: 12px;
    }
  }
}
