.card {
  width: 600px;
  height: 670px;
  flex-shrink: 0;
  padding-left: 32px;
  border-left: 1px solid var(--color-accent);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-primary);
  justify-content: space-between;
  align-items: flex-start;

  .cardHeader {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .stepNumber {
    color: var(--color-accent);
    font-weight: var(--font-weight-bold-900);
    font-size: 80px;
    font-family: var(--font-family-primary);
    line-height: var(--line-height-120);
  }

  .header {
    font-weight: var(--font-weight-regular-300);
    font-size: 24px;
    line-height: var(--line-height-180);
    color: var(--color-accent);
    font-family: var(--font-family-primary);
    text-transform: none;
  }

  p {
    font-weight: var(--font-weight-regular-600);
    font-size: 32px;
    line-height: var(--line-height-160);
    color: var(--color-light-100);
    margin: 0;
  }
}

@media (max-width: 1905px) {
  .card {
    width: 392px;
    height: 540px;

    .stepNumber {
      font-size: 48px;
    }

    .header {
      font-size: 18px;
    }

    p {
      font-size: 24px;
    }
  }
}

@media (max-width: 1425px) {
  .card {
    width: 328px;
    height: 460px;

    p {
      font-size: 18px;
      font-weight: var(--font-weight-regular-300);
    }
  }
}
