.mainContainer {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 0 124px;
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  p {
    font-weight: var(--font-weight-regular-250);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-200);
    color: var(--color-light-100);
  }
}

.map {
  border-radius: 48px;
  overflow: hidden;
  margin-bottom: 192px;
}
