.websiteLink {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-light-100);
  font-weight: var(--font-weight-regular-300);

  .caption {
    font-size: var(--font-size-xss);
    line-height: var(--line-height-140);
    text-transform: uppercase;
    opacity: 0.8;
  }

  .linkWithName {
    display: flex;
    gap: 24px;
    font-size: var(--font-size-smm);
    line-height: var(--line-height-200);
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: var(--color-dark-secondary);
    border-radius: 50%;

    svg {
      width: 27px;
    }
  }
}
