.radioRoot {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.radioItems {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.radioItem {
  padding: 12px 24px 12px 12px;
  border-radius: 32px;
  background-color: var(--color-inactive-element);
  border: 1px solid var(--color-light-20);
  color: var(--color-light-100);
  font-size: 18px;
  font-weight: var(--font-weight-regular-300);
  transition: all 0.5s;
  user-select: none;

  &:hover:not([data-state="checked"]) {
    border-color: var(--color-accent);
    color: var(--color-accent);
    background-color: #2a2d1c;
  }

  &:has([data-state="checked"]) {
    background-color: var(--color-accent);
    color: var(--color-dark-primary);

    .radioSign {
      border: 8px solid var(--color-dark-primary);
      background-color: var(--color-accent);
    }
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radioSign {
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-light-20);
  background-color: rgba(22, 22, 22, 0.2);
  appearance: none;
  border-radius: 50%;
  transition: all 0.5s;
}

.error {
  color: var(--color-error);
  font-size: 14px;
  border-top: 1px solid var(--color-error);
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -35px;
  padding-top: 3px;
}

@media (max-width: 767px) {
  .radioRoot {
    gap: 14px;
  }
  .radioItems {
    gap: 10px;
  }

  .radioItem {
    padding: 6px 12px 6px 6px;
    border-radius: 32px;
    gap: 6px;
    font-size: 14px;

    &:has([data-state="checked"]) {
      .radioSign {
        border-width: 5px;
      }
    }
  }

  .radioSign {
    width: 20px;
    height: 20px;
  }
}
