

.servicesPage {
  max-width: 1920px;
  padding: 0 124px;
  width: 100%;
  margin: auto;

  h1 {
    font-weight: var(--font-weight-bold-900);
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-124);
    text-transform: uppercase;
    color: var(--color-light-100);

    margin-top: 120px;
    margin-bottom: 72px;
    margin-left: 142px;
  }


}

.firstRow, .secondRow {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.secondRow {
  justify-content: flex-start;
  margin-bottom: 272px;
}