.attachedFile {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-regular-300);
  font-size: 18px;
  line-height: var(--line-height-160);
  color: var(--color-light-100);
}

.attachIcon {
  fill: var(--color-light-20);
  margin-right: 26px;
  width: 27px;
}

.deleteIcon {
  margin-left: 18px;
  fill: var(--color-error);
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

@media (max-width: 1425px) {
  .attachedFile {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .attachedFile {
    font-size: 10px;
  }

  .attachIcon {
    width: 12px;
    margin-right: 6px;
  }

  .deleteIcon {
    width: 10px;
    margin-left: 5px;
  }
}
