.privacyPage {
  line-height: var(--line-height-180);

  h1 {
    font-size: 80px;
    color: var(--color-accent);
    text-align: center;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 70px;
    color: var(--color-light-100);
    text-transform: none;
    hyphens: auto;
  }

  h3, li:has(h3)::before {
    font-size: 24px;
    color: var(--color-accent);
    font-weight: bold;
    display: inline;
  }

  ol > li, p {
    margin: 30px 0;
  }

  li:has(h3) {
    margin-top: 70px;
  }

  ul > li {
    margin: 15px 0;
  }

  ol {
    counter-reset: section;
    list-style: none;
  }

  ol > li {
    counter-increment: section;
  }

  ol > li::before {
    content: counters(section, ".") ". ";
    padding-right: 10px;
  }

  ul {
    list-style: none;
    padding-left: 20px;
  }

  ul li::before {
    content: "—";
    padding-right: 10px;
  }

  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid var(--color-light-20);
    padding: 10px;

    ul {
      padding: 0;
    }
  }
}

.content {
  color: var(--color-light-100);
  padding: 90px 200px 300px;
}

@media (max-width: 1605px) {
  .privacyPage {
    h1 {
      font-size: 50px;
    }
  }
}

@media (max-width: 1425px) {
  .privacyPage {
    h2 {
      font-size: 26px;
      margin-bottom: 30px;
    }
  }

  .content {
    color: var(--color-light-100);
    padding: 40px 100px 300px;
  }
}

@media (max-width: 1000px) {
  .privacyPage {
    h1 {
      font-size: 34px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1000px) {
  .privacyPage {
    h1 {
      font-size: 20px;
    }

    h3, li:has(h3)::before {
      font-size: 18px;
      hyphens: auto;
    }

    ol > li, p {
      margin: 15px 0;
    }

    li:has(h3) {
      margin-top: 30px;
    }

    ul > li {
      margin: 10px 0;
    }

    td {
      hyphens: auto;
      font-size: 12px;
    }

    ul {
      padding-left: 0;
    }
  }

  .content {
    padding: 40px 0 300px;
    font-size: 14px;
  }
}