.contactLinks {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1905px) {
  .contactLinks {
    gap: 32px;
  }
}

@media (max-width: 1425px) {
  .contactLinks {
    gap: 28px;
  }
}
@media (max-width: 767px) {
  .contactLinks {
    gap: 10px;
  }
}
