.briefOffer {
  display: flex;
  gap: 58px;
  align-items: center;
  padding-left: 142px;
}

.offerText {
  font-family: var(--font-family-secondary);
  line-height: var(--line-height-160);
  color: var(--color-light-100);
}

.heading {
  font-weight: var(--font-weight-regular-500);
  font-size: 32px;
}

.accent {
  color: var(--color-accent);
}

.description {
  font-weight: var(--font-weight-regular-300);
  font-size: 24px;
  opacity: 0.8;
}


@media (max-width: 1905px) {
  .heading {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }
}

@media (max-width: 1265px) {
  .briefOffer {
    padding-left: 0;
    gap: 40px;
  }

  .heading {
    font-size: 30px;
  }

  .description {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .briefOffer {
    padding-left: 0;
    gap: 16px;
  }

  .offerText {
    line-height: unset;
  }

  .heading {
    font-size: 13px;
  }

  .description {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .offerText {
    max-width: 154px;
  }
}