.navigationButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  text-decoration: none;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    .upCaption {
      color: var(--color-dark-primary);
      transition: all 0.4s;
    }

    .up {
      svg {
        stroke: var(--color-accent);
        transform: rotate(-45deg);
        transition: all 0.4s;
      }
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.up {
  background-color: var(--color-dark-primary);
  border: 8px solid var(--color-primary);

  svg {
    stroke: var(--color-light-100);
    transition: all 0.4s;
  }

  &:hover {
    svg {
      stroke: var(--color-accent);
      transform: rotate(-45deg);
      transition: all 0.4s;
    }
  }
}

.upCaption {
  font-weight: var(--font-weight-regular-400);
  margin: 0 auto 13px;
  font-size: 24px;
  line-height: var(--line-height-180);
  text-transform: uppercase;
  color: var(--color-light-100);
  transition: all 0.4s;
  text-decoration: none;
}

.next {
  background-color: var(--color-accent);

  svg {
    stroke: var(--color-dark-primary);
  }
}

.previous {
  transform: rotate(-90deg);
  background-color: var(--color-dark-secondary);

  svg {
    stroke: var(--color-accent);
  }
}

@media (max-width: 1905px) {
  .upCaption {
    font-size: 18px;
    font-weight: var(--font-weight-regular-300);
    margin: 0 auto 16px;
  }
}

@media (max-width: 1265px) {
  .navigationButton {
    svg {
      width: 13px;
      height: 13px;
    }
  }
  .buttonContainer {
    width: 48px;
    height: 48px;
  }

  .up {
    border-width: 5px;
  }
  .upCaption {
    font-size: 10px;
    margin: 0 auto 10px;
  }
}

@media (max-width: 767px) {
  .navigationButton {
    svg {
      width: 5px;
      height: 5px;
    }
  }
  .buttonContainer {
    width: 20px;
    height: 20px;
  }

  .up {
    border-width: 2px;
  }
  .upCaption {
    font-size: 8px;
    margin: 0 auto 5px;
  }

  .next,
  .previous {
    width: 30px;
    height: 30px;

    svg {
      width: 9px;
      height: 9px;
    }
  }
}
