.blogPage {
  h1 {
    margin-top: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 120px 0 86px;
}

.filterButtons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.firstArticle {
  margin-bottom: 113px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 113px;
  column-gap: 32px;
  margin-bottom: 120px;

  div:nth-child(2n) {
    justify-self: end;
  }
}

.loadMoreButton {
  margin: 0 auto 210px;
  z-index: 0;
}


@media (max-width: 1700px) {
  .header {
    margin: 100px 0 76px;
  }

  .filterButtons {
    gap: 8px;
  }

  .articles {
    row-gap: 80px;
    column-gap: 16px;
  }

  .loadMoreButton {
    margin-bottom: 150px;
  }
}

@media (max-width: 1425px) {
  .header {
    margin-top: 68px;
  }

  .articles {
    row-gap: 80px;
    column-gap: 16px;
  }

  .loadMoreButton {
    margin-bottom: 150px;
  }
}

@media (max-width: 1000px) {
  .header {
    margin: 100px 0 50px;
  }

  .articles {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    div:nth-child(2n) {
      align-self: end;
    }
  }
}

@media (max-width: 767px) {
  .header {
    margin: 50px 0 30px;
    align-items: flex-start;
  }

  .firstArticle, .articles {
    max-width: var(--small-screen-max-width);
    margin: 0 auto 50px;
  }

  .articles {
    row-gap: 50px;
  }

  .loadMoreButton {
    margin-bottom: 50px;
  }
}

@media (max-width: 450px) {
  .header {
    flex-direction: column;
  }
}