.card {
  display: block;
  width: fit-content;
  height: fit-content;
  opacity: 0;

  &:focus-visible {
    .header {
      outline: 1px solid var(--color-accent);
      outline-offset: 5px;
      border-radius: 5px;
    }
  }

  &:hover {
    .container {
      box-shadow: 0 0 20px 10px rgb(212 255 55 / 32%);
    }

    .header {
      color: var(--color-accent);
    }
  }

  &[data-animated="true"] {
    opacity: 1;
  }

  --small-width: 536px;
  --medium-width: 678px;
  --large-width: 678px;
  --extraLarge-width: 820px;
}

.container {
  position: relative;
  border-radius: 33px;
  overflow: hidden;
  transition: box-shadow 0.4s;
}

.category {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
}

.tagList {
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap-reverse;
}

.header {
  font-weight: var(--font-weight-regular-500);
  font-family: var(--font-family-primary);
  font-size: 40px;
  color: var(--color-light-100);
  line-height: var(--line-height-120);
  text-transform: none;
  padding-left: 0;
  margin-top: 30px;
  width: fit-content;
  transition: color 0.4s;
}

.small {
  width: var(--small-width);
  height: 554px;
}

.smallHeader {
  max-width: var(--small-width);
}

.medium {
  width: var(--medium-width);
  height: 554px;
}

.mediumHeader {
  max-width: var(--medium-width);
}

.large {
  width: var(--large-width);
  height: 700px;
}

.largeHeader {
  max-width: var(--large-width);
}

.extraLarge {
  width: var(--extraLarge-width);
  height: 700px;
}

.extraLargeHeader {
  max-width: var(--extraLarge-width);
}

@media (max-width: 1905px) {
  .card {
    --small-width: 392px;
    --medium-width: 496px;
    --large-width: 496px;
    --extraLarge-width: 600px;
  }

  .header {
    font-size: 24px;
  }

  .small {
    height: 404px;
  }

  .medium {
    height: 424px;
  }

  .large {
    height: 512px;
  }

  .extraLarge {
    height: 578px;
  }
}

@media (max-width: 1425px) {
  .card {
    --small-width: 328px;
    --medium-width: 416px;
    --large-width: 416px;
    --extraLarge-width: 520px;
  }

  .small {
    height: 404px;
  }

  .medium {
    height: 424px;
  }

  .large {
    height: 512px;
  }

  .extraLarge {
    height: 512px;
  }
}

@media (max-width: 1265px) {
  .card {
    --small-width: 509px;
    --medium-width: 638px;
    --large-width: 636px;
    --extraLarge-width: 691px;
  }

  .header {
    font-size: 32px;
  }

  .category {
    top: 31px;
    left: 31px;
  }

  .tagList {
    gap: 24px;
    bottom: 31px;
    left: 31px;
  }

  .small {
    height: 636px;
  }

  .medium {
    height: 806px;
  }

  .large {
    height: 667px;
  }

  .extraLarge {
    height: 655px;
  }
}

@media (max-width: 767px) {
  .card {
    --small-width: 212px;
    --medium-width: 265px;
    --large-width: 288px;
    --extraLarge-width: 266px;
  }

  .container {
    border-radius: 17px;
  }

  .header {
    font-size: 16px;
    margin-top: 16px;
  }

  .category {
    top: 12px;
    left: 8px;
  }

  .tagList {
    gap: 10px;
    bottom: 12px;
    left: 8px;
  }

  .small {
    height: 265px;
  }

  .medium {
    height: 278px;
  }

  .large {
    height: 273px;
  }

  .extraLarge {
    height: 336px;
  }
}
