.fileInputContainer {
  position: relative;
  flex-shrink: 0;

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }

  svg {
    width: 27px;
    height: 27px;
  }
}

.error  {
  svg {
    width: 24px;
    height: 24px;
  }
  svg+svg{
    margin-left: 6px;
  }
}