.animatedField {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-weight: var(--font-weight-regular-500);
  font-size: 56px;
  line-height: var(--line-height-150);
}

.primary {
  background: linear-gradient(350deg, #a330ff 0%, #a330ff 0.01%, #ff37df 100%);
  color: var(--color-light-100);
}

.secondary {
  background-color: var(--color-accent);
  color: var(--color-dark-primary);
}

.dark {
  background-color: var(--color-dark-secondary);
  color: var(--color-accent);
}

.light {
  background-color: var(--color-light-100);
  color: var(--color-dark-primary);
}

.right {
  transition: transform 0.2s cubic-bezier(1, 1.65, 0.265, 1.55);

  &:hover {
    transform: rotate(4deg);
    transition: transform 0.2s cubic-bezier(1, 1.65, 0.265, 1.55);
  }
}

.left {
  transition: transform 0.2s cubic-bezier(1, 1.65, 0.265, 1.55);

  &:hover {
    transform: rotate(-4deg);
    transition: transform 0.2s cubic-bezier(1, 1.65, 0.265, 1.55);
  }
}

@keyframes bounce {
  0% {
    transform: rotate(-4.5deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

//cubic-bezier(0.68, -0.55, 0.265, 1.55) - Ease In And Out Back

@media (max-width: 1905px) {
  //1280 the same
  .animatedField {
    height: 98px;
    font-size: 40px;
  }
}

@media (max-width: 1265px) {
  .animatedField {
    height: 65px;
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .animatedField {
    height: 27px;
    font-size: 11px;
  }
}
