.loader {
  position: fixed;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  z-index: 1005;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}

.loader::after {
  content: "";
  width: 192px;
  height: 4px;
  background: var(--color-accent);
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
