.mainContainer {
  max-width: 1920px;
  padding: 0 117px;
  width: 100%;
  margin: auto;
}

//greetingBlock
.greetingBlock {
  margin: auto;
  width: fit-content;
}

.greetingText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  white-space: nowrap;
  padding: 120px 0 67px 0;
  position: relative;

  .firstLine {
    padding-left: 140px;
  }

  .secondLine {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  .thirdLine {
    padding-left: 265px;
  }

  .arrow {
    position: absolute;
    left: 125px;
    bottom: 0;
  }
}

.mainText {
  font-weight: var(--font-weight-bold-900);
  font-size: 100px;
  line-height: var(--line-height-124);
  text-transform: uppercase;
  color: var(--color-light-100);
}

.briefOffer {
  display: flex;
  gap: 58px;
  align-items: center;
  padding-left: 142px;
  margin-bottom: 222px;

  .offerText {
    font-family: var(--font-family-secondary);
    line-height: var(--line-height-160);
    color: var(--color-light-100);

    .heading {
      font-weight: var(--font-weight-regular-500);
      font-size: 32px;
    }

    .accent {
      color: var(--color-accent);
    }

    .description {
      font-weight: var(--font-weight-regular-300);
      font-size: 24px;
    }
  }
}

//greetingDescription

.greetingDescription {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 24px;
  white-space: pre-wrap;
  font-size: 96px;
  margin-bottom: 228px;

  font-weight: var(--font-weight-bold-800);
  text-transform: uppercase;
  text-align: justify;
  color: var(--color-light-100);

  h1 {
    display: none;
  }
}

.starsSymbols {
  width: 504px;
}

.arrowSymbol {
  width: 257px;

  svg {
    width: 37px;
    stroke: var(--color-accent);
    height: 37px;
  }
}

.happySymbol {
  background: linear-gradient(345deg, #a330ff 0%, #ff37df 100%);
  width: 257px;
  font-weight: var(--font-weight-bold-800);
}

.kaomojiSymbol {
  width: 400px;
}

.emojiSymbol {
  width: 162px;
}

.kissSymbol {
  width: 162px;
}

// about
.about {
  max-width: 1920px;
  margin: 0 auto 163px;
  border-radius: 72px;
  padding: 52px;
  background-color: var(--color-accent);
  color: var(--color-dark-primary);

  .text {
    display: flex;
    justify-content: space-between;
    padding: 39px 72px 55px 72px;
    align-items: flex-start;

    h2 {
      font-weight: var(--font-weight-bold-800);
      font-size: 96px;
      line-height: var(--line-height-120);
      display: inline-block;
      width: 820px;
      margin-top: 0;
      color: var(--color-dark-primary);
    }

    p {
      font-weight: var(--font-weight-regular-300);
      font-size: 24px;
      line-height: var(--line-height-180);
      text-align: right;
      display: inline-block;
      width: 529px;
    }
  }

  .imageWithButton {
    position: relative;
    z-index: 0;
  }

  .arrowButton {
    position: absolute;
    right: 72px;
    top: 0;
    z-index: 0;
  }

  .imgContainer {
    background-color: var(--color-dark-secondary);
    height: 966px;
    width: 100%;
    mask-image: url(../../assets/mainPagePhotoShape.svg);
    -webkit-mask-image: url(../../assets/mainPagePhotoShape.svg);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: -1;
    }
  }
}

// advantages
.advantages {
  padding-left: 142px;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 301px;

  h2 {
    width: 338px;
  }

  span {
    position: absolute;
    color: var(--color-primary);
    font-weight: var(--font-weight-regular-500);
    line-height: var(--line-height-200);
    font-size: 40px;
    left: 180px;
    top: 374px;
    transform: rotate(68deg) scaleY(-1);
  }

  span + span {
    font-size: 32px;
    left: 330px;
    top: 535px;
    transform: rotate(112deg);
  }

  .arrow {
    position: absolute;
    left: 284px;
    top: 181px;
    background-image: url(../../assets/arrowPointer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 175px;
    height: 88px;
  }
}

//cases
.cases {
  height: 2000px;
  margin: 0 auto 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 174px;
  flex-wrap: wrap;

  h2 {
    padding-left: 142px;
  }

  .secondCard {
    align-self: flex-end;
  }
}

//services
.services {
  border-radius: 72px;
  background-color: var(--color-dark-secondary);
  padding: 120px 266px 160px;
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 300px;

  h2 {
    margin-bottom: 112px;
  }
}

//steps
.steps {
  margin-bottom: 372px;
}

.arrowLink {
  z-index: 0;
}

@media (max-width: 1905px) {
  .mainContainer {
    padding: 0 108px;
  }
  .mainText {
    font-size: 72px;
  }
  .greetingText {
    .firstLine {
      padding-left: 118px;
    }
    .secondLine {
      gap: 32px;
    }
    .thirdLine {
      padding-left: 200px;
    }
    .arrow {
      left: 90px;
    }
  }
  .briefOffer {
    margin-bottom: 167px;

    .offerText {
      .heading {
        font-size: 24px;
      }

      .description {
        font-size: 16px;
      }
    }
  }
  .greetingDescription {
    font-size: 64px;
    margin: 0 auto 170px;
    row-gap: 20px;
    max-width: 1224px;

    .starsSymbols {
      width: 431px;
    }
    .arrowSymbol {
      width: 213px;

      svg {
        width: 32px;
        height: 32px;
      }
    }

    .happySymbol {
      width: 213px;
    }

    .kaomojiSymbol {
      width: 373px;
    }

    .emojiSymbol {
      width: 153px;
    }

    .kissSymbol {
      width: 153px;
    }
  }
  //about
  .about {
    padding: 56px;
    .text {
      h2 {
        font-size: 80px;
      }
      p {
        font-size: 18px;
        width: 392px;
      }
    }
    .imgContainer {
      height: 690px;
      mask-image: url(../../assets/mainPagePhotoShape1440.svg);
      -webkit-mask-image: url(../../assets/mainPagePhotoShape1440.svg);
    }
  }

  //advantages
  .advantages {
    display: block;
    justify-content: flex-end;
    padding-left: 0;
    margin-bottom: 234px;

    h2 {
      margin-bottom: 97px;
      width: fit-content;
    }
    .advantagesCards {
      display: flex;
      justify-content: flex-end;
    }

    span {
      left: -50px;
    }

    span + span {
      left: 20px;
    }

    .arrow {
      left: 45px;
      background-image: url(../../assets/arrow-main-advantages-1440.svg);
      width: 88px;
      height: 175px;
      top: 90px;
    }
  }
  //cases
  .cases {
    height: 1570px;
    margin-bottom: 210px;
    width: fit-content;
    gap: 128px;

    h2 {
      padding-left: 0;
    }
  }
  //services
  .services {
    padding: 80px 108px 88px;
    margin-bottom: 108px;

    h2 {
      margin-bottom: 91px;
    }
  }
  //steps
  .steps {
    margin-bottom: 140px;
  }
}

///////////////////////////
//////////////////////////
//////////////////////////
@media (max-width: 1425px) {
  .mainContainer {
    padding: 0 124px;
  }
  .mainText {
    font-size: 64px;
  }
  .greetingText {
    .firstLine {
      padding-left: 59px;
    }
    .secondLine {
      gap: 24px;
    }
    .thirdLine {
      padding-left: 150px;
    }
  }
  .briefOffer {
    margin-bottom: 125px;
  }

  .greetingDescription {
    font-size: 56px;
    margin: 0 auto 115px;
    max-width: 1032px;

    .starsSymbols {
      width: 333px;
    }
    .arrowSymbol {
      width: 161px;
    }

    .happySymbol {
      width: 161px;
    }

    .kaomojiSymbol {
      width: 285px;
    }

    .emojiSymbol {
      width: 111px;
    }

    .kissSymbol {
      width: 111px;
    }
  }

  //about
  .about {
    padding: 64px;
    .text {
      h2 {
        font-size: 64px;
      }
      p {
        font-size: 16px;
        width: 328px;
      }
    }
    .imgContainer {
      height: 575px;
      mask-image: url(../../assets/mainPagePhotoShape1280.svg);
      -webkit-mask-image: url(../../assets/mainPagePhotoShape1280.svg);
    }
    .arrowButton {
      right: 60px;
    }
  }

  //advantages
  .advantages {
    h2 {
      margin-bottom: 60px;
    }

    span {
      left: -20px;
    }

    span + span {
      left: 33px;
    }
  }
  //cases
  .cases {
    height: 1440px;
    gap: 112px;
  }
  //steps
  .steps {
    margin-bottom: 165px;
  }
}
