.radioCheckboxGroupContainer {
position: relative;
}

.mainLabel, .required {
  color: var(--color-light-40);
  font-size: var(--font-size-xss);
  font-weight: var(--font-weight-regular-400);
  line-height: var(--line-height-140);
  text-transform: uppercase;
  width: 100%;
  margin-top: -5px;
}

.required {
  color: var(--color-accent);
}

.answerVariants {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 32px 0 10px;
}

.error {
  color: var(--color-error);
  padding-top: 5px;
  border-top: 1px solid var(--color-error);
  text-align: right;
  position: absolute;
  left: 0;
  right: 0;
}